.buttom-border {
    border: 1px solid $gl-brand;
    border-radius: 5px;
    .border-header {
        background: $gl-brand;
        padding: 15px 0px;
        .border-header-title {
            width: 100%;
            color: $gl-brand;
            text-align: center;
            font-size: $gl-h4-size;
        }
        .border-header-icon {
            display: none;
        }
        .border-header-desc {
            display: none;
        }
        .border-header-tools {
            display: none;
        }
    }
}

@mixin widget_border($name, $color, $text-color) {
    .buttom-border__#{$name} {
        border: 1px solid $color;
        .border-header {
            background: $color;
            .border-header-title {
                color: $text-color;
            }
        }
    }
}

@each $name,
$colors in $component-colors {
    @include widget_border($name, map-get($colors, base), map-get($colors, font));
}

@each $name,
$colors in $theme-colors {
    @include widget_border($name, map-get($colors, base), map-get($colors, font));
}