 .zk-drawer {
   font-size: $gl-size-base;
 }

 .uni-drawer {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: hidden;
   visibility: hidden;
   z-index: 998;
   height: 100%;
 }

 .uni-drawer>.uni-drawer-mask {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.4);
 }

 .uni-drawer>.uni-drawer-content {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   left: 0;
   width: 61.8%;
   height: 100%;
   background: #ffffff;
   transition: all 0.3s ease-out;
   transform: translatex(-100%);
 }

 .uni-drawer.uni-drawer-right>.uni-drawer-content {
   left: auto;
   right: 0;
   transform: translatex(100%);
 }

 .uni-drawer.uni-drawer-visible {
   visibility: visible;
 }

 .uni-drawer.uni-drawer-visible>.uni-drawer-mask {
   display: block;
 }

 .uni-drawer.uni-drawer-visible>.uni-drawer-content {
   transform: translatex(0);
 }

 .zk-drawer-top {
   text-align: center;

   img {
     width: 45px;
     height: 45px;
     border-radius: 50%;
     margin-top: 80px;
   }

   p {
     display: flex;
     justify-content: center;
     color: rgba(153, 153, 153, 1);
   }
 }

 .zk-drawer-content {
   margin-top: 36px;

   img {
     width: 19px;
     height: 19px;
   }

   li {
     display: flex;
     align-items: center;
     line-height: 24px;
     margin-left: 28px;
     margin-bottom: 16px;

     a {
       margin-left: 10px;
       font-size: 14px;
       color: #666;
       font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
         sans-serif;
     }
   }
 }

 .zk-drawer-bottom {
   display: flex;
   text-align: center;
   padding: 5px 0px;
 }

 .bottom-content {
   flex: 1;
   text-align: center;

   .bootom-icon {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     border: 1px solid rgba(153, 153, 153, 0.5);
     margin: 0 auto;
     line-height: 30px;
     background: rgba(199, 199, 205, 0);

     img {
       width: 20px;
       height: 20px;
       margin: 4px auto;
     }
   }
 }

 .scoly {
   flex: 1;
   min-height: 50px;
 }
