.zk-must-fight-today {
  margin: 0 auto 20upx auto;

  .index-must-fight-today {
    padding: 0upx 20upx;

    .must-fight-title {
      text-align: center;
      font-size: 36upx;
      line-height: 55upx;
      color: #202020;
      font-weight: bold;
      margin-bottom: 14upx;
    }

    .must-fight-box {
      width: 100%;
      border-radius: 20upx;
      background: #fff;
      padding: 20upx;

      .tiem-limit-title-box {
        display: flex;
        align-items: flex-end;

        .limit-title {
          font-size: 30upx;
          color: #202020;
          font-weight: bold;
        }

        .limit-time {
          margin-left: 36upx;
          font-size: 26upx;
          color: #676767;
          display: flex;

          .limit-time-count {
            display: flex;
            align-items: center;
            color: #000;

            span {
              display: block;
              width: 18px;
              height: 18px;
              line-height: 18px;
              background: #000;
              color: #fff;
              font-size: 12px;
              margin-left: 5px;
              text-align: center;
              border-radius: 5px;
              margin-right: 5px;
            }
          }
        }
      }

      .fight-shop-content {
        margin-top: 20upx;
        display: flex;

        .fight-shop-content-left {
          width: 200upx;
          height: 200upx;
          border-radius: 16upx;
          position: relative;
          margin-right: 10upx;

          img {
            width: 200upx;
            height: 200upx;
            border-radius: 16upx;
          }

          .fight-mask {
            width: 200upx;
            height: 200upx;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .2);
            border-radius: 16upx;
            display: flex;

            span {
              background: rgba(0, 0, 0, .6);
              color: #fff;
              font-size: 12px;
              display: block;
              position: absolute;
              left: 50%;
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              margin-left: -25px;
              top: 52upx;
              border-radius: 50%;
            }
          }
        }

        .fight-shop-content-right {
          margin-left: 40upx;
          margin-right: 40upx;

          .shop-content-right-name {
            font-family: "PingFang SC";
            font-size: 32upx;
            color: #202020;
            height: 120upx;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .shop-content-right-tag {
            width: 70%;
            height: 24upx;
            background: #FBBC91;
            border-radius: 10px;
            font-size: 8px;
            position: relative;
            margin-top: 20upx;

            span:nth-of-type(1) {
              z-index: 10;
              color: #fff;
              position: absolute;
              top: 0;
              left: 36%;
              height: 24upx;
              display: block;
              line-height: 24upx;
            }

            span:nth-of-type(2) {
              width: 100%;
              height: 24upx;
              display: block;
              line-height: 24upx;
              background: #EC3925;
              border-radius: 10px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          .shop-content-right-btn {
            width: 320upx;
            display: flex;
            justify-content: space-between;
            margin-top: 10upx;
            font-family: "PingFang SC";
            align-items: center;

            span {
              display: block;

              &:nth-of-type(1) {
                font-size: 33upx;
                color: #ED3927;
                font-weight: bold;
              }

              &:nth-of-type(2) {
                display: flex;
                background: #ED3927;
                color: #fff;
                height: 44upx;
                line-height: 40upx;
                font-size: 27upx;
                padding-left: 18upx;
                padding-right: 14upx;
                border-radius: 30upx;
              }
            }
          }
        }
      }

      .fight-shop-content-scroll {
        margin-top: 20upx;

        .zk-image-scroll {
          .scroll-head {
            display: flex;
            align-items: center;
            padding: 10px 0px;

            .scroll-head_title {
              font-size: 12px;
              color: black;
              flex: 1;
            }

            .scroll-head_right {
              font-size: 10px;
              color: #909399;
            }
          }

          .scroll-view_H {
            width: 100%;
            white-space: nowrap;

            .scroll-view_box {
              display: inline-block;
              width: 30%;
              border-radius: 5px;
              margin-right: 20upx;

              img {
                border-radius: 5px;
                border: 1px solid #f0f0f0;
              }

              .scroll_name {
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 30upx;
                color: #202020;
              }

              .scroll_price {
                display: flex;
                align-items: center;

                span {
                  display: block;

                  &:nth-of-type(1) {
                    color: #ED3927;
                    font-size: 26upx;
                    font-weight: bold;
                  }

                  &:nth-of-type(2) {
                    color: #969696;
                    text-decoration: line-through;
                    font-size: 22upx;
                    margin-left: 20upx;
                  }
                }
              }

              .shop-content-right-tag {
                width: 100%;
                height: 24upx;
                background: #FBBC91;
                border-radius: 10px;
                font-size: 8px;
                position: relative;

                span:nth-of-type(1) {
                  z-index: 10;
                  color: #fff;
                  position: absolute;
                  top: 0;
                  left: 36%;
                  height: 24upx;
                  display: block;
                  line-height: 24upx;
                }

                span:nth-of-type(2) {
                  width: 70%;
                  height: 24upx;
                  display: block;
                  line-height: 24upx;
                  background: #EC3925;
                  border-radius: 10px;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }

            .scroll-view_box:last-of-type {
              margin-right: 0px;
            }

            .uni-scroll-view::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }

  .must-fight-banner {
    width: 100%;
    background: #fff;

    img {
      width: 100%;
      height: 300upx;
    }
  }

  .must-fight-shop-list {
    width: 100%;
    margin: 0;
    background: #fff;

    .fight-shop-content-scroll {
      margin-top: 16upx;
      padding: 20upx;

      .zk-image-scroll {
        .scroll-head {
          display: flex;
          align-items: center;
          padding: 10px 0px;

          .scroll-head_title {
            font-size: 12px;
            color: black;
            flex: 1;
          }

          .scroll-head_right {
            font-size: 10px;
            color: #909399;
          }
        }

        .scroll-view_H {
          width: 100%;
          white-space: nowrap;

          .scroll-view_box {
            display: inline-block;
            width: 200upx;
            height: 120px;
            border-radius: 5px;
            margin-right: 28upx;

            image {
              width: 200upx;
              height: 200upx;
              border-radius: 5px;
            }

            .scroll_name {
              width: 90%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              color: #202020;
            }

            .scroll_price {
              display: flex;
              align-items: center;

              span {
                display: block;

                &:nth-of-type(1) {
                  color: #ED3927;
                  font-size: 26upx;
                  font-weight: bold;
                }
              }
            }
          }

          .scroll-view_box:last-of-type {
            margin-right: 0px;
          }

          .uni-scroll-view::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
