@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";
.zk-qnn-login {
    .qnn-login_head {
        width: 100%;
        height: 35vh;
        position: relative;
        .qnn-login-image {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .login_phon {
                width: 100%;
                height: 100%;
            }
        }
    }
    .qnn-login_text {
        width: 90%;
        margin: 0 auto;
        .qnn_input {
            padding: 4px 15px;
            border-bottom: 1px solid #e5e5e5;
            display: flex;
            align-items: center;
            .input-conter {
                width: 100%;
                flex: 1;
            }
            .input-icon {
                font-size: 20px;
                color: $gl-text6;
            }
            .uni-active {
                color: $gl-brand;
            }
        }
        .input-marginTop {
            margin-top: 15px;
        }
    }
    .register-box {
        width: 100%;
        margin-top: 80px;
        .register-bottom {
            width: 90%;
            text-align: center;
            padding: 6px 0px;
            font-size: 14px;
            font-family: '黑体';
            color: $gl-light;
            background-color: #d70c20;
            border-radius: 30px;
            margin: 0 auto;
        }
    }
}