@import '@/assets/style/variable.scss';

#a {
  .zk-product-item {
    ul {
      li:nth-child(2n) {
        @include borderLeft(1, #f7f7f7)
      }

      li {
        width: 50%;
        padding-left: 8px;
        @include borderBottom(1, #f7f7f7)
      }

      .product-item-image {
        width: 95%;
        height: 100%;
      }

      .product-item-price {
        color: $gl-brand;
        font-size: $gl-h4-size;
        margin-right: 8px;
      }

      .product-item-market_price {
        text-decoration: line-through;
        color: $gl-text3;
        opacity: 0.8;
      }

      .product-item-tag {
        font-size: $gl-h5-size;
        background: $gl-brand;
        top: 10px;
        border-radius: 0 10px 10px 0;
        padding-right: 8px;
      }

      .product-item-sale {
        background: $gl-text3;
        bottom: 61px;
      }

      .product-item-sale,
      .product-item-tag {
        display: block;
      }
    }
  }

}
