@import '@/assets/style/variable.scss';

#e {
  .product-item-content {
    width: 150%;
  }

  ul {
    display: block;
    padding: 0 10px;

    li {
      display: flex;
      box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
      margin-top: 10px;
    }

    .product-item {
      padding: 15px 15px;
    }

    .product-item-image {
      width: 100%;
      height: 102px !important;
      border-radius: 4px;
    }

    .product-item-box {
      width: 100%;
    }

    .product-name {
      color: $gl-text1;
      font-size: #666;
    }

    .product-item-market_price {
      display: none;
    }

    .produce-item-news {
      margin-top: 26px;
    }

    .product-item-price {
      color: $gl-brand;
      font-size: $gl-h4-size
    }

    .product-item-sale_mount {
      display: inline;
      color: $gl-text3;
      opacity: .7;
      margin-left: 8px;
      font-size: $gl-h6-size
    }
  }
}
