@import '@/assets/style/variable.scss';

#g {
  ul {
    li {
      width: 47%;
      display: flex;
      box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
      margin: 10px 5px 5px 5px;
      padding-bottom: 20px;
      position: relative;
    }

    .product-item-box {
      width: 45%;
    }

    .product-item-content {
      width: 50%;
    }

    .product-item-price {
      color: $gl-brand;
      font-size: $gl-h6-size
    }

    .product-item-market_price {
      text-decoration: line-through;
      color: $gl-text3;
      opacity: 0.8;
      margin-left: 5px;
      font-size: $gl-h7-size
    }

    .product-name,
    .produce-item-news {
      margin-left: 5px;
    }

    .instance_sale {
      width: 36%;
      display: block;
      text-align: center;
      border: 1px solid $gl-danger;
      border-radius: 10px;
      color: $gl-danger;
      position: absolute;
      bottom: 5px;
      font-size: $gl-h7-size;
      right: 20px
    }
  }
}
