@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";

.zk-qnn-open {
  .merchant-register {
    font-size: 12px;

    &.green {
      color: green;
    }

    &.red {
      color: red;
    }
  }

  .popup_buy-box {
    background: $gl-light;
    display: flex;
    flex-direction: column;

    .popup-tops {
      flex: 1;
      overflow-y: auto;

      .business-informations {
        display: flex;
        padding: 15px;
        border-bottom: 1px solid $gl-border5;

        .information-left {
          width: 100px;
          height: 100px;

          .information-left_image {
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }
        }

        .information-right {
          margin-left: 15px;
          flex: 1;

          p {
            font-size: 13px;
            color: $gl-text6;
            font-family: '黑体';
          }

          .right-title {
            color: $gl-text7;
            font-weight: 600;
            font-size: 15px;

            span {
              color: $gl-brand;
            }
          }
        }
      }

      .account-box {
        padding: 0px 15px;
      }

      .port-number {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        border-bottom: 1px solid $gl-border5;

        .port-number_text {
          font-size: 14px;
          font-weight: 600;
          font-family: '黑体';
          color: $gl-text7;
          margin-right: 5px;
        }

        .port-title {
          margin-left: 15px;
        }

        .tag-number {
          color: $gl-brand;
        }
      }

      .form-tables {
        .form-tables_list {
          display: flex;
          align-items: center;

          .form-lable {
            font-size: 13px;
            font-family: '黑体';
            width: 60px;
          }

          .form-right {
            flex: 1;
            padding: 8px 10px;
            border-bottom: 1px solid $gl-border5;
          }
        }

        .address-content {
          flex: 1;
          display: flex;
          align-items: center;
          height: 100%;
        }

        .address-edit_area {
          flex: 1;
          font-size: 13px;
          color: #888;
        }


      }

      .merchant-intro {
        margin-top: 10px;

        .merchant-intro_p {
          font-size: 13px;
          font-family: '黑体';
          color: $gl-text6;
        }

        .privileges-explain {
          display: flex;
          padding: 5px 0px;
        }

        .explain-icon {
          margin-right: 10px;
        }

        .privileges-name {
          line-height: 16px;
        }
      }
    }

    .popup_buttom {
      width: 100%;
      height: 45px;
      line-height: 45px;
      text-align: center;
      font-size: 16px;
      color: $gl-light;
      background: $gl-brand;
    }

    .butdisabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}
