@import '@/assets/style/variable.scss';

* {
  margin: 0;
  padding: 0;
}

.zk-image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .image {
    width: 100%;
    height: 100px;
  }
}
