root = true

[*]
#缩进风格：空格
indent_style = space
#缩进大小2
indent_size = 2
#换行符lf
end_of_line = lf
#字符集utf-8
charset = utf-8
#行尾允许空格
trim_trailing_whitespace = true
#结尾总是插入新的一行
insert_final_newline = true
