.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/package-lock.json
/yarn.lock


# app
ip.txt

.DS_Store
*.iml

# Android Studio
.idea/
local.properties
.idea/
.gradle/


# IOS
# Xcode
*/build/*
*.pbxuser
*.pbxprog
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

#CocoaPods
Pods

*.xccheckout
*.xcworkspacedata
*.xcworkspace
Podfile.lock
# END IOS

src/router/routes.*
