.merchant-list {
  .merchant_list_container {
    padding: 10px;
    // margin: 10px;
    background: #F4F4F4;

    .merchant_list_top {
      display: flex;
      justify-content: space-between;

      .top_left,
      .top_right {
        width: 28px;
        height: 28px;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        border-radius: 100%;
        line-height: 20px;
      }
    }

    .orders_title {
      display: flex;
      color: #494848;
      margin-top: 15px;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .shops_name {
      font-size: 13px;
      color: #666;
      padding: 5px 0;
    }

    .content_list {
      background: #fff;
      padding: 10px;

      .list_order {
        border-bottom: 1px solid #f7f3f3;

        .orders_s {
          display: flex;
          padding: 10px 0;
        }

        .orders_left {
          width: 20%;

          img {
            width: 100%;
            height: 3rem;
          }
        }

        .orders_right {
          width: 80%;
          padding: 0 10px;

          .orders_name {
            display: flex;
            justify-content: space-between;

            span {
              display: block;
            }

            span {
              font-size: 13px;
              color: #000;
              font-family: '微软雅黑';
              font-weight: 600;
            }

            span:nth-of-type(2) {
              font-size: 15px;
            }
          }

          .orders_count {
            color: #a5a3a3;
            line-height: 30px;
            font-size: 13px;
          }
        }
      }

      .all_count {
        text-align: right;
        padding: 10px 0;
        padding-right: 10px;

        span {
          font-size: 13px;
        }

        span:nth-of-type(2) {
          color: #c81432;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }

    .order_post_news {
      margin-top: 5px;
      background: #fff;
      padding: 10px;
      padding-right: 15px;

      h2 {
        font-size: 16px;
        color: #000;
        border-bottom: 1px solid #f7f3f3;
        padding-bottom: 10px;
      }

      .post_service {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;


        span {
          font-size: 13px;
        }

        span:nth-of-type(1) {
          color: #a5a3a3;
        }
      }
    }
  }
}
