
  .zk-my-center {
      .header{
        margin: 0 auto;
        width: 100%;
          &.status{
            padding-top:var(--status-bar-height);
          }
      background-color:#ff6364;
      width:100%;
      height:30vw;
      padding:0 4%;
      display:flex;
      align-items:center;
	.userinfo{
    width:90%;
    display:flex;
		.face{
      flex-shrink:0;
      width:15vw;
      height:15vw;
			image{
        width:100%;
        height:100%;
        border-radius:100%
      }
		}
		.info{
      display:flex;
      flex-flow:wrap;
      padding-left:30upx;
			.username{
        width:100%;
        color:#fff;
        font-size:34upx;
      }
			.integral{
        display:flex;
        align-items:center;
        padding:0 20upx;
        height:40upx;
        color:#fff;
        background-color:rgba(0,0,0,0.1);
        border-radius:20upx;font-size:24upx
      }
		}
	}
	.setting{
    flex-shrink:0;
    width:6vw;
    height:6vw;
		image{
      width:100%;
      height:100%
    }
	}
}
.hover{
  background-color:#eee
}
.orders{
  margin: 0 auto;
  background-color:#ff6364;
  width:100%;height:11vw;
  padding:0 4%;
  margin-bottom:calc(11vw + 40upx);
  display:flex;
  align-items:flex-start;
  border-radius:0 0 100% 100%;
  margin-top: -1upx;
	.box{
    width:98%;
    padding:0 1%;
    height:22vw;
    background-color:#fefefe;
    border-radius:24upx;
    box-shadow:0 0 20upx rgba(0,0,0,0.15);
    margin-bottom:40upx;
    display:flex;
    align-items:center;
    justify-content:center;
		.label{
      display:flex;
      align-items:center;
      justify-content:center;
      flex-flow:wrap;
      width:100%;
      height:16vw;
      color:#666666;
      font-size:26upx;
			.icon{
        position:relative;
        width:7vw;
        height:7vw;
        margin:0 1vw;
				.badge{
          position:absolute;
          width:4vw;
          height:4vw;
          background-color:#ec6d2c;
          top:-1vw;
          right:-1vw;
          border-radius:100%;
          font-size:20upx;
          color:#fff;
          display:flex;
          align-items:center;
          justify-content:center;
          z-index: 10;}
				image{
          width:7vw;
          height:7vw;
          z-index: 9;
        }
			}
		}
	}
}
.list{
  width:100%;
  border-bottom:solid 26upx #f1f1f1;
	.li{
    width:92%;
    height:100upx;
    padding:0 4%;
    border-bottom:solid 1upx #e7e7e7;
    display:flex;
    align-items:center;
	&.noborder{
    border-bottom:0
  }
		.icon{
      flex-shrink:0;
      width:50upx;
      height:50upx;
			image{
        width:50upx;
        height:50upx
      }
		}
		.text{
      padding-left:20upx;
      width:100%;
      color:#666}
		.to{
      flex-shrink:0;
      width:40upx;
      height:40upx
    }
	}
}
  }
