@keyframes cssLoading {
  0% {
    transform: rotate(0deg)
  }

  10% {
    transform: rotate(36deg)
  }

  20% {
    transform: rotate(72deg)
  }

  30% {
    transform: rotate(108deg)
  }

  40% {
    transform: rotate(144deg)
  }

  50% {
    transform: rotate(180deg)
  }

  60% {
    transform: rotate(216deg)
  }

  70% {
    transform: rotate(252deg)
  }

  80% {
    transform: rotate(288deg)
  }

  90% {
    transform: rotate(324deg)
  }

  100% {
    transform: rotate(360deg)
  }
}


@mixin cssLoading {
  animation: cssLoading 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
