$gl-themeColor: #c81432;
$gl-bodyBg: #efeff4;
$gl-brand: $gl-themeColor;
$gl-primary: #5867dd;
$gl-metal: #575962;
$gl-success: #34bfa3;
$gl-warning: #ffb822;
$gl-info: #36a3f7;
$gl-focus: #9816f4;
$gl-accent: #00c5dc;
$gl-light: #ffffff;
$gl-danger: #f4516c;
$gl-text0:#585962;
$gl-text1: #303133;
$gl-text2: #606266;
$gl-text3: #909399;
$gl-text4: #dcdfe6;
$gl-text5: #DCD3CF;
$gl-text6: #030303;
$gl-text7: #202020;
$gl-text8: #474747;
$gl-text9: #5836b8;
$gl-sizeColor: #B2B1C4;
$gl-border1: #DCDFE6;
$gl-border2: #E4E7ED;
$gl-border3: #EBEEF5;
$gl-border4: #f2f6fc;
$gl-border5: #f0f0f0;
$gl-border6:#e5e5e5;
$gl-border7:#f8f8f8;