@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";

$theme-colors: (
  'brand': (
    base: $gl-brand,
    font: $gl-text1
  ),
  'primary': (
    base: $gl-brand,
    font: $gl-text1
  ),
  'metal': (
    base: $gl-metal,
    font: $gl-text1
  ),
  'success': (
    base: $gl-success,
    font: $gl-text1
  ),
  'warning': (
    base: $gl-warning,
    font: $gl-text1
  ),
  'info': (
    base: $gl-info,
    font: $gl-text1
  ),
  'focus': (
    base: $gl-focus,
    font: $gl-text1
  ),
  'accent': (
    base: $gl-accent,
    font: $gl-text1
  ),
  'light': (
    base: $gl-light,
    font: $gl-text1
  ),
  'danger': (
    base: $gl-danger,
    font: $gl-text1
  )
);

$component-colors: (
  'white': (
    base: #ffffff,
    font: #666
  ),
  'default': (
    base: #e1e5ec,
    font: #666
  ),
  'dark': (
    base: #2f353b,
    font: #ffffff
  ),
  'blue': (
    base: #3598dc,
    font: #ffffff
  ),
  'blue-madison': (
    base: #578ebe,
    font: #ffffff
  ),
  'blue-chambray': (
    base: #2c3e50,
    font: #ffffff
  ),
  'blue-ebonyclay': (
    base: #22313f,
    font: #ffffff
  ),
  'blue-hoki': (
    base: #67809f,
    font: #ffffff
  ),
  'blue-steel': (
    base: #4b77be,
    font: #ffffff
  ),
  'blue-soft': (
    base: #4c87b9,
    font: #ffffff
  ),
  'blue-dark': (
    base: #5e738b,
    font: #ffffff
  ),
  'blue-sharp': (
    base: #5c9bd1,
    font: #ffffff
  ),
  'blue-oleo': (
    base: #94a0b2,
    font: #ffffff
  ),
  'green': (
    base: #32c5d2,
    font: #ffffff
  ),
  'green-meadow': (
    base: #1bbc9b,
    font: #ffffff
  ),
  'green-seagreen': (
    base: #1ba39c,
    font: #ffffff
  ),
  'green-turquoise': (
    base: #36d7b7,
    font: #ffffff
  ),
  'green-haze': (
    base: #44b6ae,
    font: #ffffff
  ),
  'green-jungle': (
    base: #26c281,
    font: #ffffff
  ),
  'green-soft': (
    base: #3faba4,
    font: #ffffff
  ),
  'green-dark': (
    base: #4db3a2,
    font: #ffffff
  ),
  'green-sharp': (
    base: #2ab4c0,
    font: #ffffff
  ),
  'green-steel': (
    base: #29b4b6,
    font: #ffffff
  ),
  'grey': (
    base: #e5e5e5,
    font: #333333
  ),
  'grey-steel': (
    base: #e9edef,
    font: #80898e
  ),
  'grey-cararra': (
    base: #fafafa,
    font: #333333
  ),
  'grey-gallery': (
    base: #555555,
    font: #ffffff
  ),
  'grey-cascade': (
    base: #95a5a6,
    font: #ffffff
  ),
  'grey-silver': (
    base: #bfbfbf,
    font: #fafcfb
  ),
  'grey-salsa': (
    base: #acb5c3,
    font: #fafcfb
  ),
  'grey-salt': (
    base: #bfcad1,
    font: #fafcfb
  ),
  'grey-mint': (
    base: #525e64,
    font: #ffffff
  ),
  'red': (
    base: #e7505a,
    font: #ffffff
  ),
  'red-pink': (
    base: #e08283,
    font: #ffffff
  ),
  'red-sunglo': (
    base: #e26a6a,
    font: #ffffff
  ),
  'red-intense': (
    base: #e35b5a,
    font: #ffffff
  ),
  'red-thunderbird': (
    base: #d91e18,
    font: #ffffff
  ),
  'red-flamingo': (
    base: #ef4836,
    font: #ffffff
  ),
  'red-soft': (
    base: #d05454,
    font: #ffffff
  ),
  'red-haze': (
    base: #f36a5a,
    font: #ffffff
  ),
  'red-mint': (
    base: #e43a45,
    font: #ffffff
  ),
  'yellow': (
    base: #c49f47,
    font: #ffffff
  ),
  'yellow-gold': (
    base: #e87e04,
    font: #ffffff
  ),
  'yellow-casablanca': (
    base: #f2784b,
    font: #ffffff
  ),
  'yellow-crusta': (
    base: #f3c200,
    font: #ffffff
  ),
  'yellow-lemon': (
    base: #f7ca18,
    font: #ffffff
  ),
  'yellow-saffron': (
    base: #f4d03f,
    font: #ffffff
  ),
  'yellow-soft': (
    base: #c8d046,
    font: #ffffff
  ),
  'yellow-haze': (
    base: #c5bf66,
    font: #ffffff
  ),
  'yellow-mint': (
    base: #c5b96b,
    font: #ffffff
  ),
  'purple': (
    base: #8e44ad,
    font: #ffffff
  ),
  'purple-plum': (
    base: #8775a7,
    font: #ffffff
  ),
  'purple-medium': (
    base: #bf55ec,
    font: #ffffff
  ),
  'purple-studio': (
    base: #8e44ad,
    font: #ffffff
  ),
  'purple-wisteria': (
    base: #9b59b6,
    font: #ffffff
  ),
  'purple-seance': (
    base: #9a12b3,
    font: #ffffff
  ),
  'purple-intense': (
    base: #8775a7,
    font: #ffffff
  ),
  'purple-sharp': (
    base: #796799,
    font: #ffffff
  ),
  'purple-soft': (
    base: #8877a9,
    font: #ffffff
  )
);
