    .top-border {
        .border-header {
            padding: 20px 10px;
            border-top: 2px solid $gl-brand;
            height: 22px;
            line-height: 22px;
            display: flex;
            .border-header-title,
            .border-header-icon {
                font-size: $gl-h4-size;
                color: $gl-brand;
            }
            .border-header-title {
                flex: 1;
            }
        }
    }
    
    @mixin widget_border($name, $color, $text-color) {
        .top-border__#{$name} {
            .border-header {
                border-top: 2px solid $color;
                .border-header-title,
                .border-header-icon,
                .border-header-tools {
                    color: $color;
                }
            }
        }
    }
    
    @each $name,
    $colors in $component-colors {
        @include widget_border($name, map-get($colors, base), map-get($colors, font));
    }
    
    @each $name,
    $colors in $theme-colors {
        @include widget_border($name, map-get($colors, base), map-get($colors, font));
    }