.zk-type-class {
  .zk-type-class_cotnainer {
    padding: 30upx;

    .class_container_name {
      font-size: 44upx;
      color: #202020;
      font-family: "PingFang SC";
      margin: 20upx 0;
    }

    .class_container_data {
      font-size: 26upx;
      color: #666;
    }

    .class_image {
      width: 100%;

      img {
        width: 100%;
        height: 360upx;
      }
    }

    .class_detail {
      p {
        font-size: 24upx;
      }
    }
  }
}
