.zk-limited-time-buy-a {
    .zk-limited-time-buy {
        .container_box {
            padding: 0 10px;
            .limited_top {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #e5e5e5;
                .buy_type {
                    height: 44px;
                    width: 25%;
                    span {
                        display: block;
                        text-align: center;
                    }
                    span:nth-of-type(1) {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    span:nth-of-type(2) {
                        font-size: 10px;
                        color: #666;
                    }
                }
                .current {
                    background: #C70F2C;
                    color: #fff;
                    span:nth-of-type(2) {
                        color: #fff;
                        opacity: .6;
                    }
                }
            }
        }
    }
}