.zk-index-hot-shop {
  background: #f2f2f2;

  .index-hot-shop-container {
    .must-fight-title {
      text-align: center;
      font-size: 36upx;
      color: #202020;
      font-weight: bold;
      margin-bottom: 14upx;
      display: flex;
      align-items: center;
      justify-items: center;
      width: 28%;
      margin: 0 auto;

      // margin-top: 30upx;
      img {
        width: 40upx;
        height: 40upx;
        display: block;
        margin-left: 10upx;
      }
    }

    .hot-shop-content {
      .hot-shop-content-banner {
        // width: 694upx;
        height: 222upx;
        margin: 0 auto;
        padding: 0 20upx;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .hot-shop-content-T {
        padding: 20upx 20upx;
        display: flex;

        .hot-shop-content-T-item {
          width: 348upx;
          height: 222upx;
          // background: #4E76FA;
          border-radius: 20upx;
          display: flex;
          position: relative;

          img {
            width: 100%;
            height: 222upx;
          }

          .T-item_L {
            span {
              display: block;

              &:nth-of-type(1) {
                font-size: 32upx;
                color: #fff;
                margin: 30upx 20upx;
                width: 156upx;
                line-height: 40upx;
                font-weight: bold;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
              }

              &:nth-of-type(2) {
                width: 102upx;
                text-align: center;
                line-height: 40upx;
                background: #fff;
                color: #4E76FA;
                display: flex;
                border-radius: 28upx;
                margin-left: 22upx;
                padding-left: 20upx;
                padding-right: 14upx;
                font-size: 30upx;
              }
            }
          }

          .T-item_R {
            width: 88upx;
            height: 190upx;

            img {
              width: 100%;
              height: 100%;
              margin-top: 18upx;
              margin-left: 13upx;
            }
          }

          &:nth-of-type(2) {
            margin-left: 20upx;
            background: #22D0CF;
          }

          &:nth-of-type(1) {
            background: #4E76FA
          }
        }
      }

      .hot-shop-content-S {
        padding: 0 20upx;
        display: flex;
        margin-bottom: 20upx;

        .hot-shop-content-S-item {
          width: 226upx;
          height: 400upx;
          background: #fff;
          border-radius: 16upx;
          position: relative;

          img {
            width: 188upx;
            height: 188upx;
            display: block;
            margin: 0 auto;
            margin-top: 20upx;
            border-radius: 24upx;
          }

          span {
            display: block;
            margin-left: 20upx;
            margin-right: 20upx;
            font-size: 26upx;
            line-height: 36upx;

            &:nth-of-type(1) {
              margin-top: 10upx;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }

            &:nth-of-type(2) {
              color: #ED3927;
              font-size: 15px;
              font-weight: bold;
              margin-top: 22upx;
              position: absolute;
              left: 0;
              bottom: 40upx;
            }
          }

          &:nth-of-type(2) {
            margin: 0 20upx;
          }
        }
      }
    }
  }
}
