.zk-school-headlines {
  .school-headlines_container {
    background: #fff;
    margin-top: 20upx;
    padding: 12upx 30upx;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    margin-bottom: 20upx;
    padding-bottom: 12upx;

    .video_list_head {
      display: flex;
      justify-content: space-between;
      width: 98%;
      margin: 0 auto;
      align-items: center;

      span {
        display: block;

        &:nth-of-type(1) {
          font-size: 36upx;
          color: #202020;
          font-weight: bold;
          font-family: "PingFang SC";
        }

        &:nth-of-type(2) {
          font-size: 22upx;
          color: #9EA3B8;
          font-family: "PingFang SC";
          text-decoration: underline;
          display: flex;
        }
      }
    }

    .school-headlines_container_item {
      .item_list {
        display: flex;
        justify-content: space-between;
        margin-top: 20upx;

        .item_list_L {
          width: 54%;
        }

        .item_list_L_name {
          font-size: 28upx;
          font-family: "PingFang SC";
          color: #202020;
          color: #202020;
          font-family: "PingFang SC";
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .item_list_text {
          width: 100%;
          text-align: right;
          font-size: 22upx;
          color: #9EA3B8;
          margin-top: 34upx;
        }

        .item_list_R {
          width: 272upx;

          img {
            width: 100%;
            height: 178upx;
            border-radius: 10px;
          }
        }
      }
    }

  }
}
