// .background-border {
//     padding-bottom: 15px;
//     .border-header {
//         display: flex;
//         align-items: center;
//         padding: 0px 15px;
//         .border-header-title {
//             flex: 1;
//             color: $gl-text1;
//         }
//         .border-header-icon {
//             display: none;
//         }
//         .border-header-desc {
//             display: none;
//         }
//     }
//     .border-body {
//         background: #ffffff;
//     }
// }

// @mixin widget_border($name, $color, $text-color) {
//     .background-border__#{$name} {
//         background: $color !important;
//         .border-header-title {
//             color: $text-color !important;
//         }
//     }
// }

// @each $name,
// $colors in $component-colors {
//     @include widget_border($name, map-get($colors, base), map-get($colors, font));
// }

// @each $name,
// $colors in $theme-colors {
//     @include widget_border($name, map-get($colors, base), map-get($colors, font));
// }

.background-border {
  margin: 10px;
  border-radius: 5px;

  .border-body {
    .grid-item-2 {
      padding-top: 0;
    }
  }

  .border-heade {
    height: 30px;
    line-height: 30px;

    .border-header-title {
      font-size: 14px;
      font-family: 'PingFang SC';
      font-weight: 700;
      color: #202020;
    }

    .border-header-desc {
      margin-top: 2px;
      height: 13px;
      line-height: 13px;
      padding: 0px 5px;
      color: #999999;
      border-left: 1px solid #d9d8d8;
      font-family: 'PingFang SC';
      color: #666666;
    }
  }
}

@mixin widget_border($name, $color, $text-color) {
  .background-border__#{$name} {
    .border-header {
      background: $color !important;
    }

    .border-header-title {
      color: $text-color !important;
    }
  }
}

@each $name,
$colors in $component-colors {
  @include widget_border($name, map-get($colors, base), map-get($colors, font));
}

@each $name,
$colors in $theme-colors {
  @include widget_border($name, map-get($colors, base), map-get($colors, font));
}
