.zk-merchant-pay {
  .merchant_pay_container {
    .pay_top {
      display: flex;
      height: 44px;
      line-height: 44px;
      background: #f0f0f0;
      padding: 3px 15px;

      span {
        text-align: center;
        margin: 0 auto;
        display: block;
        font-size: 16px;
        font-family: '微软雅黑';
      }
    }

    .pay_content {
      padding: 10px;
      margin-top: 20px;

      .pay_content_head {
        display: flex;

        // img {
        //   width: 100%;
        //   border-radius: 50%;
        // }

        .pay_content_head_img {
          width: 80px;
          height: 80px;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }



        span {
          font-size: 14px;
          color: #000;
          display: flex;
          align-items: center;
          margin-left: 10px;
        }
      }

      .pay_content_money {
        .content_money {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          align-items: center;
          border-bottom: 1px solid #e0e0e0;
        }

        .elseMoney {
          font-size: 13px;
          font-family: '微软雅黑';
          line-height: 30px;
        }
      }
    }

    .pay_keyBord {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

      .keyBord_number {
        display: flex;
        width: 79%;
        flex-wrap: wrap;
        border-top: 1px solid #e0e0e0;

        span {
          display: block;
          width: 33%;
          height: 60upx;
          text-align: center;
          padding: 10upx 0;
          font-size: 18px;
          font-weight: 600;
        }

        span:nth-of-type(2n) {
          // border-right: 1px solid #e0e0e0;
          // border-bottom: 1px solid #e0e0e0;
        }

        span:nth-of-type(2n + 1) {
          // border-bottom: 1px solid #e0e0e0;
          // border-right: 1px solid #e0e0e0;
        }

        span:nth-of-type(3n) {
          border-right: none;
        }

        span:nth-of-type(10) {
          border-bottom: none;
        }

        span:nth-of-type(11) {
          border-bottom: none;
        }
      }

      .keyBord_btn {
        width: 21%;
        border-top: 1px solid #e0e0e0;
        // margin-left: -3px;
        border-left: 1px solid #e0e0e0;
        position: relative;

        .btn_icon {
          width: 96%;
          display: block;
          text-align: center;
          align-items: center;
          justify-items: center;
          // border-bottom: 1px solid #e0e0e0;
          padding: 13px 0;

          .x-icon {
            // padding: 13px 0;
            margin: 0 auto;
            text-align: center;
          }
        }

        .btn_confirm {
          height: 200upx;
          width: 100%;
          color: #fff;
          align-items: center;
          background: #ff4848;
          overflow: hidden;

          span {
            line-height: 54upx;
            font-size: 14px;
            display: block;
            text-align: center;
            letter-spacing: 10px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            top: 50%;
            left: 50%;
            margin-left: 18%;
            margin-top: 40upx;
          }
        }
      }
    }
  }
}
