@import '../../style/sass/colors.scss';

// 边框样式
@mixin border-style() {

  @each $key,
  $value in $component-colors {
    color: map-get($map: $value, $key: font);
    background: map-get($map: $value, $key: base);
  }
}


.border-style {
  width: 100%;
  height: 100px;
  background: red;
  @include border-style();
}
