@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";

.zk-bookingsignup {
  .bookingsignup_image {
    width: 100vw;
    height: 35vh;
    position: relative;

    .bookingsignup-box {
      width: 100%;
      height: 100%;
    }

    .bookingsignup_icon {
      position: absolute;
      top: 8px;
      left: 15px;
    }
  }

  .bookingsignup_conter {
    width: 100vw;
    margin-top: -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: $gl-light;
    position: relative;
    z-index: 9;

    .headline-list_box {
      width: 90%;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    .headline-box {
      width: 100%;
      margin-top: -5px;

      .headline-box_text {
        font-size: 15px;
        font-weight: 600;
        margin-left: -5px;
      }
    }

    .headline-list {
      .headline-list_p {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .list_p-left {
          margin-right: 10px;

          .headline-img {
            width: 12px;
            height: 12px;
            vertical-align: -2px;
          }
        }

        .list_p-right {
          color: $gl-text6;

          span {
            color: $gl-themeColor;
          }
        }
      }
    }

    .login-img {
      width: 50px;
      height: 50px;
    }
  }

  .line-between {
    width: 100vw;
    height: 10px;
    background-color: $gl-border5;
  }

  .particulars-box {
    .particulars-text {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .text-list {
        color: $gl-text6;
        font-size: 12px;
      }

      .text_hover {
        color: $gl-text1;
        font-weight: 700;
        position: relative;

        &::after {
          content: "";
          width: 12px;
          height: 2px;
          background-color: red;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .scientific-list {
      padding: 10px;
    }
  }

  .administrivia {
    .administrivia_text {
      font-size: 12px;
      color: $gl-text6;
      padding-left: 20px;
    }
  }

  .occupied-box {
    height: 45px;
  }

  .bookingsignup_footer {
    width: 100vw;
    height: 45px;
    border-top: 1px solid $gl-border5;
    background-color: $gl-light;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;

    .footer-buttoms {
      height: 45px;
      padding: 0px 15px;
      text-align: center;
      display: flex;
      align-items: center;
    }

    .purchase {
      flex: 1;
      height: 45px;
      line-height: 45px;
      text-align: center;
      background-color: #e62b4d;
      color: $gl-light;
      font-size: 13px;

      &.endStart {
        background: #999999;
      }
    }

    .footer-buttoms_top {
      .footer-img {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: -4px;
      }

      .footer-text {
        color: #e62b4d;
      }
    }

    .buttoms_top-text {
      line-height: 16px;
    }

    .distinguish-color {
      color: #e62b4d;
    }
  }

  .pop-up {
    .uni-mask {
      position: fixed;
      z-index: 998;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .uni-popup {
      position: fixed;
      z-index: 999;
      background-color: #ffffff;
      box-shadow: 0 0 30upx rgba(0, 0, 0, 0.1);
    }

    .uni-popup-bottom_popup {
      left: 0;
      bottom: 0;
      width: 100%;
      line-height: 100upx;
    }

    .popuo-boxs {
      background-color: #ffffff;
      padding: 0px 10px;

      .popuo-boxs_icon {
        height: 35px;
        display: flex;
        justify-content: flex-end;
        background-color: $gl-light;

        .icon-box {
          height: 30px;
          line-height: 30px;

          .x-icon {
            line-height: 30px;
          }
        }
      }

      .popuo-boxs_conter {
        flex: 1;
        overflow-y: auto;
      }

      .recommend-box {
        padding: 0px 10px;

        .box_input {
          .recommend-lable {
            font-size: 12px;
            color: $gl-text6;
            margin-bottom: 3px;
          }

          .inputs-box {
            display: flex;
            align-items: center;

            .recommend-bit {
              flex: 1;
              height: 30px !important;
              line-height: 30px !important;
              padding: 0px 10px;
              border: 1px solid $gl-text5;
            }
          }
        }
      }

      .regis-tration {
        flex: 1;
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
      }

      .prompt-message {
        display: flex;
        align-items: center;

        .message_text {
          color: #999999;
          margin-left: 5px;
        }
      }

      .specification {
        .specification_list {
          border: 1px solid $gl-themeColor;
          border-radius: 3px;
          padding: 6px 10px;
          font-size: 12px;
          color: $gl-text1;
        }
      }

      .number-again {
        margin-top: 15px;

        .number-again_text {
          font-size: 10px;
          margin-bottom: 5px;
        }
      }

      .split-box {
        height: 40px;
      }

      .form-box {
        padding: 0px 0px 30px 0px;

        .form-box_title {
          font-size: 12px;
          border-bottom: 1px solid $gl-border5;
          padding: 8px 15px;
          position: relative;

          &::after {
            content: "";
            width: 2px;
            height: 10px;
            background-color: $gl-themeColor;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .form-box_list {
          display: flex;
          align-items: center;
          padding: 8px 10px;
          position: relative;

          .box_list-lable {
            font-size: 13px;
            color: $gl-text6;
          }

          .input-box {
            display: flex;
            align-items: center;

            .carry-bit {
              flex: 1;
              padding: 0px 10px;

              // border: 1px solid $gl-text5;
              &::-webkit-input-placeholder {
                font-size: 12px;
              }
            }

            .cryptonym-box {
              margin-left: 10px;

              span {
                display: inline-block;
                font-size: 12px;
                vertical-align: -2px;
              }
            }
          }

          &::after {
            content: "";
            width: 100%;
            border-bottom: 1px solid $gl-border6;
            height: 1px;
            position: absolute;
            bottom: 0px;
            left: 10px;
            transform: scaleY(0.5);
          }
        }

        .box_list-hover {
          &::after {
            left: 0px;
          }
        }
      }

      .split_decollator {
        width: 100vw;
        height: 8px;
        background-color: $gl-border5;
      }
    }

    .information-add {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 0px;

      .popuo-boxs_icon {
        padding: 5px 10px;
      }
    }

    .popup-footer {
      width: 100vw;
      height: 40px;
      border-top: 1px solid $gl-border5;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 10px;
      background-color: $gl-light;
      position: fixed;
      bottom: 0px;
      left: 0px;
      z-index: 995;

      .popup-footer_text {
        flex: 1;
        font-size: 12px;
        color: $gl-text7;

        .text-span {
          color: $gl-warning;
        }
      }

      .popup-footer_btn {
        background-color: $gl-themeColor;
        color: $gl-light;
        height: 40px;
        line-height: 40px;
        padding: 0px 50px;
        font-size: 13px;
      }
    }
  }
}
