.zk-index-type-list {
  .zk-index-type-container {
    .uni-swiper-tab {
      height: 80upx;
      line-height: 80upx;
      border: none;
      width: 100%;
      background: #fff;

      .swiper-tab-list {
        width: 65px;
        font-family: "PingFang SC";
        font-size: 12px;
        color: #000;
      }

      .active {
        background: #EE2C28;
        color: #fff;
        border-radius: 28upx;
      }
    }

    .index-type-content-list {
      column-count: 2;
      column-gap: 20upx;
      padding: 0px 20upx 20upx 20upx;

      .content-list_li {
        break-inside: avoid;
        width: 100%;
        border-radius: 18upx;
        overflow: hidden;
        position: relative;
        background: #fff;
        padding-bottom: 3px;

        .showTage_item {
          width: 100%;

          span:nth-of-type(1) {
            position: absolute;
            bottom: 0;
            font-size: 24upx;
            color: #fff;
            left: 20upx;
          }

          span:nth-of-type(2) {
            font-size: 26upx;
            color: #fff;
            position: absolute;
            bottom: 0;
            right: 14upx;
          }

          span:nth-of-type(3) {
            font-size: 22upx;
            color: #fff;
            position: absolute;
            bottom: 30upx;
            right: 14upx;
          }
        }

        .list_li-img {
          border-top-left-radius: 20upx;
          border-top-right-radius: 20upx;
          overflow: hidden;
        }

        .type-content-name {
          padding-left: 20upx;

          .name_T {
            display: flex;
            align-items: center;

            .name_T-span1 {
              display: inline-block;
              text-align: center;
              background: #FE6759;
              color: #fff;
              font-size: 10px;
              border-radius: 100%;
              padding: 0px 4px;
              margin-right: 10upx;
            }

            .name_T-span2 {
              font-size: 32upx;
              color: #000;
              font-weight: 700;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-family: 'PingFang SC';
            }
          }

          .name_E {
            font-size: 26upx;
            color: #666;
          }

          .name_Price {
            line-height: 30px;

            span:nth-of-type(1) {
              font-weight: 600;
              font-size: 30upx;
              color: #EE2C28;

              .name_Price-span {
                font-size: 35upx;
              }

              .ele_price {
                font-size: 24upx;
              }
            }

            span:nth-of-type(2) {
              font-size: 20upx;
              text-decoration: line-through;
              color: #666;
              margin-left: 10upx;
            }
          }

          .name_Tag {
            margin-bottom: 8px;
            display: flex;

            span {
              display: block;
              text-align: center;
              background: linear-gradient(#ff4848, #ff7b64);
              font-size: 10px;
              color: #fff;
              border-radius: 10px;
              margin-right: 20upx;
              padding: 0px 18upx;
            }
          }
        }

        &:nth-child(n+2) {
          margin-top: 20upx;
        }
      }

      .showtag {
        position: absolute;
        left: 0;
        top: 0;
        width: 339upx;
        height: 330upx;
        border-radius: 24upx;
        overflow: hidden;
        background: url(https://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-06-06/5cf8893231109e232ccae729.png) no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        z-index: 10;
      }
    }
  }

  .zk-index-loading {
    padding: 10px 0;
    color: #666;
    text-align: center;
  }
}
