.zk-waterfull-list {
    [v-cloak] {
        display: none !important;
    }
    * {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    body {
        width: 95%;
        margin: 10px auto;
    }
    .pubu {
        width: calc(100% - 16px);
        margin-left: 8px;
    }
    .yg {
        img {
            width: 100%;
            border-radius: 8px 8px 0 0;
        }
    }
    .yg {
        p {
            width: 100%;
            font-size: 0.75rem;
            padding: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #999;
        }
    }
    .yg_l {
        width: calc(50% - 5px);
    }
    .yg_r {
        width: calc(50% - 5px);
    }
    .yg {
        li {
            background: #fff;
            border-radius: 8px;
            margin-bottom: 10px;
            box-shadow: 0 0 5px #999;
        }
    }
    .yg_l {
        float: left;
    }
    .yg_r {
        float: right;
    }
    .u_xinx {
        position: absolute;
        bottom: 4px;
    }
    .u_xinx {
        img {
            margin-left: 5px;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            width: 26px;
            height: 26px;
            border-radius: 50%;
            display: inline-block;
        }
    }
    .u_xinx {
        span {
            position: relative;
            text-shadow: 0 1px 1px #333;
            top: -8px;
            color: #fff;
            font-size: 0.6rem;
        }
    }
}