 .page-body {
   display: flex;
   background: #fff;
   overflow: hidden;

   .nav {
     display: flex;
     width: 100%;
   }

   .nav-left {
     width: 94px;
     background: #fafafa;
   }

   .nav-right-title {
     height: 50px;
     line-height: 50px;
     border-bottom: solid 1px #f1f1f1;
     font-size: 30upx;
     padding-left: 5px;
   }

   .nav-left-item {
     height: 50px;
     border-right: solid 1px #f1f1f1;
     border-bottom: solid 1px #f1f1f1;
     font-size: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
   }

   .nav-left-item:last-child {
     border-bottom: none;
   }

   .nav-right {
     width: 75%;
     // height: 100%;
     // padding-bottom: 300px;
   }

   .nav-right-box {
     display: block;
     overflow: hidden;
     border-bottom: 10px solid #f3f3f3;
   }

   .nav-right-box:last-child {
     border: none;
   }

   .nav-right-item {
     width: 28%;
     height: 110px;
     float: left;
     text-align: center;
     padding: 5px;
     font-size: 14px;
     background: #fff;
   }

   .nav-right-item {
     image {
       width: 75px;
       height: 75px;
     }
   }

   .active {
     color: #ff80ab;
     background: #fff;
     border-right: 0;
   }

   &::-webkit-scrollbar {
     /*取消小程序的默认导航条样式*/
     width: 0;
     height: 0;
     color: transparent;
   }
 }
