uni-tabbar {
  display: block;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;

  .uni-tabbar {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
  }

  .uni-tabbar~.uni-placeholder {
    width: 100%;
    height: 50px;
  }

  .uni-tabbar * {
    box-sizing: border-box;
  }

  .uni-tabbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    font-size: 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .uni-tabbar__bd {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .uni-tabbar__icon {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    width: 27px;
    height: 27px;
  }

  .uni-tabbar__icon.uni-tabbar__icon__diff {
    margin-top: 0px;
    width: 34px;
    height: 34px;
  }

  .uni-tabbar__icon img {
    width: 100%;
    height: 100%;
  }

  .uni-tabbar__label {
    position: relative;
    text-align: center;
    font-size: 10px;
    line-height: 1.8;
  }

  .uni-tabbar-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
  }

  .uni-tabbar__reddot {
    position: absolute;
    top: 6px;
    left: 16px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: #f43530;
    color: #ffffff;
  }

  .uni-tabbar__badge {
    top: 4px;
    border-radius: 18px;
    min-width: 8px;
    width: auto;
    height: auto;
    padding: 0.15em 0.5em;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
  }

  .iconfont {
    top: 0;
    left: 0;

  }
}
