.zk-hot-classify-a {
    .zk-hot-classify {
        .container_box {
            margin: 20upx 0 40upx 0;
        }
        .scroll-Y {
            height: 300upx;
        }
        .scroll-view_H {
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            padding: 0px 20upx;
        }
        .scroll-view-item {
            height: 300upx;
            line-height: 300upx;
            text-align: center;
            font-size: 36upx;
        }
        .scroll-view-item_H {
            display: inline-block;
            width: 100px;
            line-height: 100upx;
            text-align: center;
            font-size: 36upx;
            margin-right: 20upx;
            margin-bottom: 8upx;
            &:nth-child(5) {
                margin-right: 0;
            }
        }
        .scroll_img {
            position: relative;
            .mask {
                position: absolute;
                top: 0;
                width: 100px;
                height: 80px;
                background: #000;
                opacity: .4;
                text-align: center;
                line-height: 80px;
                color: #fff;
                border-radius: 5px;
            }
            .type_name {
                position: absolute;
                top: 31%;
                left: 66%;
                margin-left: -42px;
                color: #fff;
                font-size: 13px;
            }
            .maskLinks {
                position: absolute;
                top: 0;
                width: 100px;
                height: 80px;
                background: #000;
                opacity: .4;
                border-radius: 5px;
            }
        }
    }
}