@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";
.zk-user-give {
    .give-list_box {
        .give-ul {
            padding-left: 10px;
            margin-left: 0px;
            border-top: 1px solid $gl-border5;
            border-bottom: 1px solid $gl-border5;
            .give-li {
                width: 100%;
                .give-li_top {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid $gl-border5;
                    padding: 10px 15px 10px 0px;
                }
                .give-li_bottom {
                    border-bottom: none;
                    padding: 0px;
                }
                .give-li_left {
                    width: 65px;
                    text-align: left;
                    margin-right: 5px;
                    font-size: 12px;
                }
                .give-li_right {
                    flex: 1;
                    .give-li_input {
                        width: 100%;
                        margin-left: 5px;
                    }
                }
                .border_none {
                    border-bottom: none;
                }
            }
        }
    }
    .give-text {
        color: $gl-brand;
        width: 50%;
        text-align: center;
        margin: 20px auto;
    }
    .give-buttom {
        width: 90vw;
        text-align: center;
        height: 40px;
        line-height: 40px;
        background-color: $gl-brand;
        color: $gl-light;
        margin: 0 auto;
        border-radius: 30px;
        font-size: 14px;
        margin-top: 30px;
        position: relative;
        .invisible {
            width: 90vw;
            height: 40px;
            border-radius: 30px;
            background: rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
    .give-buttom_top {
        margin-top: 15px;
        background: $gl-text6;
    }
}