.zk-store-user-card {
  .store-user-card-container {
    background: #fff;
    padding: 0 38upx;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12upx;

    span {
      display: block;
      text-align: center;
      font-family: "PingFang SC";

      &:nth-of-type(1) {
        color: #f43f00;
        font-size: 28upx;
        font-weight: bold;
      }

      &:nth-of-type(2) {
        font-size: 26upx;
        color: #666;
      }
    }
  }
}
