.zk-school-case-card {
  .school_case_card_container {
    background: #fff;
    padding: 22upx 30upx;
    margin-bottom: 20upx;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);

    .case_card_top {
      display: flex;
      align-items: center;

      span {
        display: block;
        font-size: 30upx;
        color: #202020;
        font-family: "PingFang SC";
        font-weight: bold;
        margin-left: 20upx;
      }

      img {
        width: 50upx;
        height: 50upx;
        border-radius: 50%;
      }
    }

    .case_card_img {
      display: flex;
      margin-top: 20upx;
      justify-content: space-between;

      .card_img_left {
        width: 464upx;
        height: 260upx;
        margin-right: 16upx;

        img {
          width: 100%;
          height: 260upx;
          border-radius: 10upx;
        }
      }

      .card_img_right {
        .card_img_right_item {
          width: 220upx;
          height: 120upx;

          img {
            width: 100%;
            height: 122upx;
            border-radius: 10upx;
          }

          &:nth-of-type(2) {
            margin-top: 18upx;
          }
        }
      }
    }

    .case_card_text {
      margin-top: 18upx;

      .case_card_text_title {
        font-size: 30upx;
        color: #202020;
        font-weight: bold;
        font-family: "PingFang SC";
      }

      .case_card_text_info {
        font-size: 24upx;
        color: #666;
        font-family: "PingFang SC";
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .case_card_btn {
      .case_card_btn_top {
        display: flex;

        span {
          display: block;
          border: 1px solid #FE4E4A;
          color: #FE4E4A;
          font-size: 24upx;
          height: 38upx;
          line-height: 38upx;
          font-family: "PingFang SC";
          border-radius: 28upx;
          padding: 0 8upx;
          margin-right: 10upx;
        }
      }

      .case_card_btn_bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 20upx;

        span {
          display: block;
          font-size: 26upx;

          &:nth-of-type(1) {
            color: #FE4E4A;
            font-weight: bold;
            font-size: 28upx;
          }

          &:nth-of-type(2) {
            background: linear-gradient(#ff4848, #ff7b64);
            color: #fff;
            font-size: 26upx;
            height: 43upx;
            line-height: 43upx;
            padding: 0 15upx;
            border-radius: 44upx;
          }
        }
      }
    }
  }
}
