@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";
.zk-sceond-buy {
    uni-radio {
        .uni-radio-input {
            width: 15px;
            height: 15px;
            background-color: $gl-themeColor !important;
            border-color: $gl-themeColor !important;
            &::before {
                font-size: 12px;
            }
        }
    }
    .sceond-buy_head {
        .head-title {
            font-size: 13px;
            color: $gl-text2;
            text-align: center;
            padding: 8px 0px;
        }
        .sceond-buy_box {
            border-top: 1px solid $gl-border6;
            border-bottom: 1px solid $gl-border6;
            .sceond-radio {
                padding: 8px 10px;
                span {
                    vertical-align: -2px;
                    font-size: 12px;
                }
            }
            .order-sale {
                font-size: 14px;
                padding: 8px 10px;
            }
            .border-top {
                position: relative;
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $gl-border6;
                    position: absolute;
                    top: 0px;
                    left: 10px;
                    transform: scaleY(0.3);
                }
            }
            .sceond-from {
                .sceond-from_box {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    .from_box-lable {
                        font-size: 12px;
                        width: 50px;
                        .lable-span {
                            color: $gl-danger;
                            margin-right: 5px;
                        }
                    }
                    .from_box-input {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        .input-box {
                            width: 100%;
                        }
                        .examine {
                            color: $gl-themeColor;
                            font-size: 12px;
                            margin-left: 10px;
                        }
                        .radio-button {
                            .radio-span {
                                vertical-align: 1px;
                            }
                        }
                    }
                    .site-input {
                        justify-content: flex-end;
                        .address-edit_area {
                            margin-right: 10px;
                            text-align: right;
                        }
                    }
                }
            }
        }
        .sceond-buttom {
            height: 45px;
            line-height: 45px;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            background-color: $gl-themeColor;
            border-radius: 4px;
            margin: 10px 15px;
        }
    }
    .sceond-footer {
        width: 100vw;
        height: 50px;
        border-top: 1px solid $gl-border5;
        background-color: $gl-light;
        position: fixed;
        bottom: 0px;
        left: 0px;
        display: flex;
        .sceond-footer_left {
            width: 80px;
            height: 50px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .footer_box {
                .footer_box-img {
                    width: 18px;
                    height: 18px;
                }
            }
            .footer-title {
                font-size: 12px;
            }
        }
        .sceond-footer_right {
            flex: 1;
            text-align: center;
            height: 50px;
            line-height: 50px;
            color: $gl-light;
            background-color: $gl-themeColor;
            font-size: 16px;
        }
    }
    .rolling-bulletin {
        border-top: 1px solid $gl-border6;
        border-bottom: 1px solid $gl-border6;
        height: 170px;
        overflow: hidden;
        position: relative;
        padding: 10px 0px;
        .rolling-bulletin_ul {
            padding: 0px 10px;
            position: absolute;
            .rolling-bulletin_li {
                font-size: 12px;
                line-height: 16px;
                padding: 3px 0px;
                .bulletin_li-span {
                    color: $gl-themeColor;
                }
            }
        }
    }
    .line-box {
        height: 50px;
    }
    .placeholder_area {
        color: grey;
    }
}