.zk-store-scroll-card {
  .zk-store-scroll-card_container {
    .scroll_card_top {
      width: 100%;
      height: 180upx;
      background: url(https://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-07-15/5d2c1cabf338e5279869bd31.png) no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      overflow: hidden;

      h2 {
        color: #fff;
        font-size: 36upx;
        margin-top: 30upx;
        margin-left: 30upx;
        font-family: "PingFang SC";
      }

      .scroll_card_top_meaages {
        font-size: 12px;
        color: #fff;
        margin-left: 30upx;
        font-family: "PingFang SC";
        opacity: .8;
      }
    }

    .fight-shop-content-scroll {
      background: #ff8329;
      padding: 20upx;
      margin-top: -20upx;

      .zk-image-scroll {

        .scroll-view_H {
          width: 100%;
          white-space: nowrap;


          .scroll-view_box {
            display: inline-block;
            width: 260upx;
            height: 370upx;
            background: #fff;
            border-radius: 8px;
            margin-right: 15upx;


            image {
              width: 230upx;
              height: 230upx;
              display: block;
              border-radius: 5px;
              margin: 0 auto;
              margin-top: 12upx;

            }

            .scroll_name {
              width: 90%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              color: #202020;
              margin-left: 20upx;
              margin-top: 20upx;
            }

            .scroll_price {
              display: flex;
              align-items: center;
              margin-left: 20upx;

              span {
                display: block;

                &:nth-of-type(1) {
                  color: #f14f29;
                  font-size: 20upx;
                  font-weight: bold;
                  margin-left: -10upx;
                  width: 100%;
                  overflow: hidden;
                }

                &:nth-of-type(2) {
                  color: #969696;
                  text-decoration: line-through;
                  font-size: 22upx;
                  margin-left: 20upx;
                }
              }
            }

            .shop-content-right-tag {
              width: 100%;
              height: 24upx;
              background: #FBBC91;
              border-radius: 10px;
              font-size: 8px;
              position: relative;

              span:nth-of-type(1) {
                z-index: 10;
                color: #fff;
                position: absolute;
                top: 0;
                left: 36%;
                height: 24upx;
                display: block;
                line-height: 24upx;
              }

              span:nth-of-type(2) {
                width: 70%;
                height: 24upx;
                display: block;
                line-height: 24upx;
                background: #EC3925;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }

          .scroll-view_box:last-of-type {
            margin-right: 0px;
          }

          .uni-scroll-view::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
