.zk-type-class-a {
    .zk-type-class {
        .container_box {
            .type_top {
                display: flex;
                justify-content: space-between;
                height: 44px;
                line-height: 44px;
                background: #C70F2C;
                color: #fff;
                padding: 0 10px 0 10px;
                .current {
                    border-bottom: 1px solid #fff;
                }
                span {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    margin-top: 10px;
                    font-size: 13px;
                }
            }
            .type_content {
                margin-top: 15px;
                .zk-timing-list_head {
                    display: none;
                }
                .class_name {
                    font-size: 13px;
                    font-weight: 600;
                    color: #000;
                    padding: 0 10px 0 10px;
                    margin-top: 10px;
                }
                .image-list {
                    height: 175px;
                    border-radius: 5px;
                }
                .image-list .image {
                    height: 175px;
                    border-radius: 5px;
                }
                .class_count {
                    display: flex;
                    padding: 0 10px 0 10px;
                    span {
                        display: block;
                        font-size: 13px;
                        color: #888;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}