.zk-user-center-a {
  .zk-user-center {
    .container_box {
      background: #C70F2C;
      padding: 15px;
      color: #fff;
      position: relative;
      padding-bottom: 20px;

      .user_center_icon {
        margin-top: 15px;
      }

      .user_logo {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        .all_box {
          display: flex;
        }

        .logo_left {
          width: 45px;
          height: 45px;
          background: #fff;
          border-radius: 50%;
          display: flex;
          overflow: hidden;

          .logo {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            align-items: center;
          }
        }

        .logo_middle {
          margin-left: 15px;
          margin-top: 3px;
          font-size: 0.13rem;

          span {
            display: block;
            line-height: 18px;
          }

          span:nth-of-type(1) {
            opacity: .8;
            font-size: 13px;
          }

          span:nth-of-type(2) {
            font-size: 13px;
          }
        }

        .right {
          display: flex;
        }

        .logo_right {
          display: inline-block;
          height: 22px;
          padding: 0px 8px;
          background: linear-gradient(to right, #FFFFDf, #f9f900);
          color: #000;
          line-height: 22px;
          text-align: center;
          border-radius: 25px;
          margin-top: 19px;
          font-weight: 600;
          font-size: 12px;
        }

        .security {
          font-weight: 600;
          font-size: 12px;
          position: absolute;
          top: 10px;
          right: 40px;
        }
      }

      .user_content {
        display: flex;
        justify-content: space-between;
        padding: 0px 8px;
        margin-top: 30px;
        margin-bottom: 30px;

        .user_content_item {
          flex: 1;

          span {
            display: block;
            text-align: center;
            font-size: 11px;
            opacity: .8;
          }
        }
      }

      .user_bottom {
        width: 80%;
        height: 32px;
        line-height: 32px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -40%;
        background: #474646;
        padding-left: 10px;
        border-radius: 4px 4px 0 0;
        font-size: 12px;
      }

      .user_setting {
        position: absolute;
        top: 6px;
        right: 15px;
        display: flex;

        .user_setting-icon {
          padding: 0px 3px;
        }
      }

      .select_address {
        width: 70%;
        position: fixed;
        top: 31%;
        left: 50%;
        height: 160px;
        margin-left: -35%;
        background: #ffff;
        z-index: 99;
        box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
        border-radius: 10px;
        padding: 10px;

        .address_title {
          text-align: center;
          line-height: 40px;
          font-size: 14px;
        }

        .placeholder_area {
          color: grey;
        }

        .address-edit_area {
          flex: 1;
          font-size: 13px;
        }

        .item {
          padding: 5px 10px;
          font-size: 14px !important;
          position: relative;
          display: flex;
          align-items: center;
          height: 45px;
          position: relative;
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
        }

        .select_confirm {
          text-align: center;
          font-size: 16px;
          line-height: 40px;
          color: rgb(0, 122, 255);
          margin-top: 10px;
        }
      }
    }

    .select_address {
      width: 76%;
      position: fixed;
      top: 31%;
      left: 50%;
      height: 160px;
      margin-left: -38%;
      background: #ffff;
      z-index: 99;
      box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
      border-radius: 10px;
      padding: 10px;

      .address_title {
        text-align: center;
        line-height: 40px;
        font-size: 14px;
      }

      .placeholder_area {
        color: grey;
      }

      .address-edit_area {
        flex: 1;
        font-size: 13px;
      }

      .item {
        padding: 5px 10px;
        font-size: 14px !important;
        position: relative;
        display: flex;
        align-items: center;
        height: 45px;
        position: relative;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
      }

      .select_confirm {
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        color: rgb(0, 122, 255);
        // margin-top: 10px;
      }

      .selectAddress_tap {
        font-size: 12px;
        color: #999;
        margin-left: 10px;
        text-indent: 20px;
      }
    }

    .address_mask {
      position: fixed;
      z-index: 10;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }

}
