.zk-qiniuniu-btn-a {
    .zk-qiniuniu-btn {
        .container_box {
            width: 60%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            margin: 0 auto;
            background: #C70F2C;
            border-radius: 20px;
            margin-bottom: 20px;
            margin-top: 50px;
            font-size: 14px;
        }
    }
}