.floating-border {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    .border-header {
        padding: 0px 15px;
        height: 22px;
        line-height: 22px;
        .border-header-title {
            color: $gl-brand;
            position: absolute;
            top: -13px;
            left: 15px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
            display: inline-block;
            height: 26px;
            line-height: 26px;
            background: $gl-brand;
            color: #ffffff;
            padding: 0px 10px;
        }
        .border-header-icon {
            display: none;
        }
        .border-header-desc {
            display: none;
        }
    }
}

@mixin widget_border($name, $color, $text-color) {
    .floating-border__#{$name} {
        .border-header {
            .border-header-title {
                color: $text-color;
                background: $color;
            }
        }
    }
}

@each $name,
$colors in $component-colors {
    @include widget_border($name, map-get($colors, base), map-get($colors, font));
}

@each $name,
$colors in $theme-colors {
    @include widget_border($name, map-get($colors, base), map-get($colors, font));
}