.zk-school-swiper {
  .zk-school_swiper_container {
    position: relative;

    .school_swiper_header_all {
      height: 350upx;
      background: #fff;
    }

    .school_swiper_header {
      width: 100%;
      background: linear-gradient(90deg, #ff4848, #ff7b64);
      height: 310upx;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }

    .school_swiper_header {
      .header_input {
        background: #fff;
      }

      .new-index-search-box {
        display: flex;
        padding: 30upx 30upx 10upx 30upx;

      }
    }

    .shop-list_content {
      // margin-top: 10upx;
      flex-wrap: wrap;
      width: 100%;
      position: absolute;
      top: 40upx;

      uni-swiper-item {
        width: 98% !important;
        padding-top: 0px !important;
      }

      .list_content-swiper {
        position: relative;
      }

      .bgImg {
        width: 98% !important;
        height: 283upx !important;
        border-radius: 20upx;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        opacity: .6;

        .bgImg-images {
          width: 100%;
          height: 283upx;
          display: block;
        }

        .list_content-text {
          height: 44px;
          background: #ffffff;
        }
      }

      .bgImgText {
        font-size: 29upx;
        color: #202020;
        font-family: "PingFang SC";
        margin-left: 20upx;
        font-weight: bold;
      }

      .bgImgTextTag {
        color: #666;
        font-size: 22upx;
        margin-left: 20upx;
      }

      uni-swiper {
        width: 100%;
        height: 317upx !important;
        border-radius: 20upx;
      }

      .uni-swiper .uni-swiper-dot {
        width: 6px;
        height: 6px;
      }

      .ImgActive {
        overflow: hidden;
        height: 317upx !important;
        transition: 0.2s all;
        opacity: 1;

        .images_avtice {
          width: 100%;
          height: 317upx;
          display: block;
        }

        .text_active {
          height: 50px;
          background: #ffffff;
        }
      }
    }

  }
}
