.zk-eject {
  .eject-content {
    position: absolute;
    z-index: 2;
    width: 70%;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -35%;
    margin-top: -250px;

    .eject-swiper {
      width: 100%;
      height: 400px;
      border-radius: 10px;
      background: white;

      swiper {
        width: 100%;
        height: 100%;
        position: relative;

        image {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -40%;
          margin-top: -150px;
          width: 80%;
          height: 300px;
        }
      }
    }

    .eject-detail {
      height: 100px;
      position: relative;

      image {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -20px;
      }
    }
  }
}
