@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";
.zk-card-earnings {
    .card-earnings-box {
        width: 100%;
        height: 200px;
        border-radius: 4px;
        position: relative;
        .back-img {
            width: 100%;
            height: 100%;
        }
        .supernatant {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .earnings-box_head {
            display: flex;
            justify-content: space-between;
            .box_head-left {
                padding: 15px 20px;
                .left-title {
                    font-size: 13px;
                    color: $gl-light;
                    line-height: 24px;
                }
                .left-two {
                    font-size: 17px;
                }
                .left-three {
                    font-size: 11px;
                }
            }
            .box_head-right {
                padding: 15px;
                .head-right-img {
                    width: 100px;
                    height: 40px;
                    .right-img_box {
                        width: 100%;
                        height: 100%;
                    }
                }
                .head-right-buttom {
                    width: 100%;
                    text-align: center;
                    .head-right_but {
                        display: inline-block;
                        color: $gl-light;
                        border-radius: 20px;
                        background-color: $gl-text1;
                        padding: 0px 20px;
                        margin-top: 15px;
                    }
                }
            }
        }
        .yield-list {
            margin-top: 25px;
            padding: 0px 10px;
            .yield-list_box {
                border-top: 1px dashed $gl-light;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                .list_box-conter {
                    p {
                        font-size: 13px;
                        color: #ffffff;
                        text-align: center;
                        line-height: 22px;
                        &:nth-child(1) {
                            font-size: 14px;
                            font-size: 500;
                        }
                        &:nth-child(2) {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}