.zk-bags-shop-list {
    .zk-bags-shop-list_container {
        padding: 0px 8px;
        .daily_list_header {
            display: flex;
            align-items: center;
            span {
                display: block;
                &:nth-of-type(1) {
                    font-weight: bold;
                    font-size: 36upx;
                    color: #202020;
                    font-family: "PingFang SC";
                    line-height: 56upx;
                }
                &:nth-of-type(2) {
                    width: 1px;
                    height: 30upx;
                    background: #d9d8d8;
                    margin: 0 20upx;
                }
                &:nth-of-type(3) {
                    font-family: "PingFang SC";
                    font-size: 26upx;
                    color: #666;
                }
            }
        }
        .daily-shop-list {
            background: #fff;
            border-radius: 24upx;
            padding: 30upx 30upx 28upx 30upx;
            .daily-shop-list_item {
                display: flex;
                margin-bottom: 30upx;
                .daily-shop-list_item_L {
                    width: 231upx;
                    height: 231upx;
                    background: url(https://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-06-06/5cf8893231109e232ccae729.png) no-repeat;
                    background-position: center center;
                    background-size: 100% 100%;
                    position: relative;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    overflow: hidden;
                    .daily-shop-list_back {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 231upx;
                        height: 231upx;
                        background: url(https://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-06-06/5cf8893231109e232ccae729.png) no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        z-index: 10;
                        .daily-shop-list_tag {
                            position: absolute;
                            bottom: -1px;
                            left: 20upx;
                            font-size: 16upx;
                            color: #fff;
                        }
                        .daily-shop-list_Membership {
                            position: absolute;
                            bottom: 16upx;
                            right: 12upx;
                            font-size: 16upx;
                            color: #fff;
                        }
                        .daily-shop-list_Membership_price {
                            position: absolute;
                            bottom: -2px;
                            right: 12upx;
                            font-size: 16upx;
                            color: #fff;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .daily-shop-list_item_R {
                    flex: 1;
                    min-width: 0px;
                    margin-left: 40upx;
                    min-width: 0px;
                    .daily-shop-list_item_R_name {
                        width: 100%;
                        font-size: 30upx;
                        font-weight: 700;
                        color: #202020;
                        font-family: "PingFang SC";
                        margin-top: 20upx;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .tag_list_item {
                        display: flex;
                        margin-top: 8upx;
                        span {
                            display: block;
                            background: linear-gradient(#f09179, #f3a480);
                            width: 100upx;
                            height: 30upx;
                            line-height: 30upx;
                            font-size: 20upx;
                            color: #fff;
                            text-align: center;
                            margin-right: 20upx;
                            border-radius: 20upx;
                        }
                    }
                    .daily-shop-list_item_R_price {
                        font-size: 29upx;
                        color: #ED3927;
                        font-weight: bold;
                        margin-top: 70upx;
                    }
                }
                &:nth-of-type(3) {
                    margin-bottom: 0;
                }
            }
        }
    }
}