@import '@/assets/style/variable.scss';

.zk-grid-b {
  .zk-grid {
    border: none !important;
  }

  .weui-grid_div {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
  }

  .weui-grid_a {
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
    box-sizing: border-box;
    color: $gl-light;
    padding: 4px 0px;
  }

  .weui-grid_a:nth-child(4n) {
    border-right: none;
  }

  .weui-grid__icon {
    width: auto;
    height: auto;

    .grid__icon {
      font-size: 16px;
    }
  }

  .weui-grid__label {
    font-size: 12px;
    margin-top: 10px;
    color: #666;
  }

  .weui-grid__labelTop {
    margin-top: -3px;
    margin-top: 5rpx;
  }

  .weui-grid__label {
    margin: 2px 0;
  }
}
