.zk-data-brand-list-a {
    .zk-data-brand-list {
        .container_box {
            padding: 15px;
            margin: 10px;
            box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
            .list_item {
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #faf7f7;
                padding: 10px 0px;
                .brand_list_left {
                    .merchant_name {
                        font-size: 14px;
                        color: #000;
                        font-weight: 600;
                    }
                    .merchant_icon {
                        color: burlywood;
                        .iconfont {
                            display: block;
                            font-size: 46px;
                            margin-top: -10px;
                        }
                    }
                }
            }
            .list_item:nth-of-type(3) {
                border: none;
            }
            .brand_list_middle {
                font-size: 12px;
                span {
                    display: block;
                }
                .span_list {
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            .brand_list_right {
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: linear-gradient(to right, rgb(235, 235, 15), burlywood);
                border-radius: 20px;
                font-size: 12px;
                color: #fff;
                margin-top: 5px;
            }
        }
    }
}