.zk-school-class-grid {
  .school_class_grid_container {
    margin-bottom: 20upx;


    .class_grid_header {
      display: flex;
      height: 88upx;
      line-height: 88upx;
      font-size: 28upx;
      color: #202020;
      font-family: "PingFang SC";
      background: #fff;
      align-items: center;
      padding: 30upx;
      box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);

      span {
        display: block;
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 32upx;
      }
    }

    .class_grid_content {

      background: #fff;
      box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
      margin-top: 20upx;
      padding-bottom: 16upx;

      .class_grid_content_top {
        padding: 20upx 30upx;
        font-size: 25upx;
        color: #666;
        border-bottom: 1px solid #e5e5e5;
      }

      .fight-shop-content-scroll {
        margin-top: 10upx;
        padding-left: 30upx;

        .class_grid_content_title {
          font-size: 15px;
          color: #202020;
          font-weight: bold;
          font-family: "PingFang SC";
        }

        .zk-image-scroll {
          .scroll-view_H {
            width: 100%;
            white-space: nowrap;


            .scroll-view_box {
              display: inline-block;
              width: 178upx;
              height: 272upx;
              background: #fff;
              border-radius: 8px;
              margin-right: 16upx;
              position: relative;

              image {
                width: 100%;
                height: 272upx;
                display: block;
                border-radius: 5px;
                margin: 0 auto;
                margin-top: 18upx;
              }

              .scroll_name {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
                color: #fff;
                margin-left: 20upx;
                margin-top: 20upx;
                position: absolute;
                top: 25%;
                left: 50%;
                margin-left: -50%;
                text-align: center;
              }

              .scroll_text {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 10px;
                color: #fff;
                margin-left: 20upx;
                margin-top: 20upx;
                position: absolute;
                top: 43%;
                left: 50%;
                margin-left: -50%;
                text-align: center;
              }

              .shops_mask {
                width: 178upx;
                height: 272upx;
                background: #202020;
                opacity: .5;
                position: absolute;
                top: 20upx;
                left: 0;
                border-radius: 10upx;
              }



            }

            .scroll-view_box:last-of-type {
              margin-right: 0px;
            }

            .uni-scroll-view::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }
}
