.zk-store-brand-show {
  .zk-store-brand-show_container {

    background: linear-gradient(to bottom, #ffd2bc, #f2f2f2);

    .brand_show_top {
      display: flex;
      justify-content: space-between;
      padding: 30upx;

      .brand-show_left {
        .brand_show_name {
          font-size: 30upx;
          color: #ED3927;
          width: 300upx;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: bold;
          margin-top: 20upx;
        }

        .brand_show_price {
          font-size: 26upx;
          color: #ED3927;
          font-weight: bold;
        }

        span {
          display: block;
          width: 143upx;
          height: 44upx;
          font-size: 13px;
          color: #fff;
          background: #FE5C5A;
          line-height: 44upx;
          text-align: center;
          border-radius: 30upx;
          margin-top: 20upx;
        }
      }

      .brand-show_right {
        width: 300upx;

        img {
          width: 300upx;
          height: 280upx;
          border-radius: 10upx;
        }
      }
    }

    .brand-show_bottom {
      ul {
        display: flex;
        margin-left: 16upx;
        flex-wrap: wrap;

        li {
          width: 23%;

          img {
            width: 100%;
            height: 170upx;
          }
        }

        li:nth-of-type(2),
        li:nth-of-type(6) {
          margin: 0 14upx;
        }

        li:nth-of-type(3),
        li:nth-of-type(7) {
          margin-right: 14upx;
        }
      }
    }
  }
}
