    .corner-border {
        border-radius: 10px;
        background: #ffffff !important;
        .border-header {
            position: relative;
            background: $gl-brand;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            .border-header-title {
                background: $gl-brand;
                padding: 0px 5px;
                font-weight: $gl-h2-weight;
                height: 24px;
                line-height: 24px;
                display: inline-block;
                border-top: 1px solid #E4E6EF;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                position: absolute;
                left: 50%;
                top: -8px;
                transform: translateX(-50%);
            }
            .border-header-icon {
                display: none;
            }
            .border-header-desc {
                display: none;
            }
            .border-header-tools {
                display: none;
            }
        }
        .border-body {
            background: $gl-brand;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    
    @mixin widget_border($name, $color, $text-color) {
        .corner-border__#{$name} {
            .border-header {
                background: $color;
                .border-header-title {
                    background: $color;
                    color: $text-color;
                }
            }
            .border-body {
                background: $color;
            }
        }
    }
    
    @each $name,
    $colors in $component-colors {
        @include widget_border($name, map-get($colors, base), map-get($colors, font));
    }
    
    @each $name,
    $colors in $theme-colors {
        @include widget_border($name, map-get($colors, base), map-get($colors, font));
    }