.zk-exchange {
  margin: 0 10px;
  background: #f0f0f0;

  .zk-exchange-card {
    margin: 10px 0;
    height: 120px;
    background: linear-gradient(to right, #636E8C, #3C4262);
    border-radius: 10px;
  }
}
