.zk-exchange-list {
  height: 155px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 0;
  // background: #5C30E5;

  .top-text {
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    color: #fff;
    font-family: "微软雅黑";
  }

  .zk-exchange-list_content {
    height: 110px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background: none;
    justify-content: space-between;

    .content-list {
      width: 31.5% !important;
      height: 100%;
      background: #fff;
      border-radius: 3px;

      .content-img {
        width: 60%;
        height: 50%;

        display: block;
        margin: 0 auto;
        margin-top: 10px;
      }

      view {
        text-align: center;

        &.content-name {
          font-size: 12px;
          width: 90% !important;
          margin: 0 auto;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #606266;
          font-family: "微软雅黑";
        }

        &.content-integral {
          font-size: 11px;
          color: #D45367;
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box !important;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
    }
  }
}
