.zk-school-head {
  .class_grid_header {
    display: flex;
    height: 88upx;
    line-height: 88upx;
    font-size: 28upx;
    color: #202020;
    font-family: "PingFang SC";
    background: #fff;
    align-items: center;
    padding: 30upx;

    span {
      display: block;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-size: 32upx;
    }
  }

  .bg_tag {
    width: 100%;
    height: 20upx;
    background: #F3F3F4;
  }
}
