.zk-head-logo-a {
  position: relative;
  font-family: '微软雅黑';

  // padding: 10px 0px;
  .head_search {
    background: #f7f7f7;
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10px;
    border-radius: 23px;
    margin-right: 3px;

    .head_search-input {
      height: 28px;
      font-size: 12px;

      input {
        font-size: 12px;
      }

      .input-placeholder {
        font-size: 12px;
      }
    }

    .icon-zk-search {
      margin-right: 5px;
      color: #999999;
      font-size: 18px;
    }
  }

  .zk-head-logo-placeholder {
    height: 56px;
  }

  .zk-head-logo {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 8px 10px;

    .head_logo {
      width: 40px;
      height: 40px;
      margin-right: 12px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .head_icon {
      display: flex;
    }
  }

  .search_mask {
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 9999;
    width: 100%;

    .search_mask-box {
      display: flex;
      margin-top: 10px
    }

    .search-title {
      padding-left: 10px;
      color: #303133;
      font-size: 13px;
    }

    .hot-search-list {
      padding: 10px 15px;

      li {
        display: inline-block;
        font-size: 12px;
        background: #f7f7f7;
        color: #909399;
        border-radius: 50px;
        margin-right: 10px;
        text-align: center;
        padding: 2px 12px;
      }
    }

    .mask_back_icon {
      font-size: 20px;
      margin-top: -2px;
      width: 10%;
      margin-left: 14px;

      .iconfont {
        font-size: 20px;
        color: #666;
      }
    }

    .cancleMask {
      font-size: 14px;
      color: #666;
      margin-top: 5px;
      margin-left: -5px;
    }
  }

  /* .fade-leave-active,
  .fade-enter-active {
    transition: all 1s ease;
  }

  .fade-leave-active,
  .fade-enter {
    width: 0px !important;
    transition: all 1s ease;
  }

  .fade-leave,
  .fade-enter-active {
    width: 320px;
    background: #ffff;
    transition: all 1s ease;
  } */
}
