.zk-daily-use {
  // background: #f2f2f2;
  padding: 20upx;

  .daily-use-container {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 20upx;
    border-radius: 24upx;

    .daily-use_item {
      text-align: center;

      img {
        width: 83upx;
        height: 83upx;
      }

      .use_item_name {
        font-size: 29upx;
        color: #202020;
        font-family: 'PingFang SC';
      }
    }
  }
}
