.zk-egg-machine {

  section.first,
  section.first {
    box-sizing: border-box;
    padding-top: 2.17rem;
    width: 7.5rem;
    height: 12.06rem;
    // background: url(../images/bg.png) center no-repeat;
    background-size: cover;
  }

  html>section.first div.myGift,
  body>section.first div.myGift {
    position: fixed;
    top: 2.22rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.38rem;
    height: .64rem;
    font-size: .28rem;
    color: #cc6a00;
    background-color: #fedc3e;
    border-radius: .5rem 0 0 .5rem;
  }

  html>section.first main,
  body>section.first main {
    position: relative;
    margin: 0 auto;
    width: 5.9rem;
    height: 6.79rem;
  }

  html>section.first main ul li,
  body>section.first main ul li {
    position: absolute;
  }

  html>section.first main ul li span.zhuan,
  body>section.first main ul li span.zhuan {
    animation: zhuan 1.5s linear forwards;
    -webkit-animation: zhuan 1.5s linear forwards;
  }

  html>section.first main ul li:nth-child(1),
  body>section.first main ul li:nth-child(1) {
    top: 1.46rem;
    left: 2.07rem;
  }

  html>section.first main ul li:nth-child(1) span,
  body>section.first main ul li:nth-child(1) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.44rem;
    height: 1.43rem;
    // background: url(../images/egg_1.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main ul li:nth-child(2),
  body>section.first main ul li:nth-child(2) {
    top: 2.17rem;
    left: 4.19rem;
  }

  html>section.first main ul li:nth-child(2) span,
  body>section.first main ul li:nth-child(2) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.36rem;
    height: 1.48rem;
    // background: url(../images/egg_2.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main ul li:nth-child(3),
  body>section.first main ul li:nth-child(3) {
    top: 1.61rem;
    left: 1.01rem;
  }

  html>section.first main ul li:nth-child(3) span,
  body>section.first main ul li:nth-child(3) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.39rem;
    height: 1.46rem;
    // background: url(../images/egg_3.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main ul li:nth-child(4),
  body>section.first main ul li:nth-child(4) {
    top: 2.5rem;
    left: .52rem;
  }

  html>section.first main ul li:nth-child(4) span,
  body>section.first main ul li:nth-child(4) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.34rem;
    height: 1.49rem;
    // background: url(../images/egg_4.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main ul li:nth-child(5),
  body>section.first main ul li:nth-child(5) {
    top: 2.4rem;
    left: 2.27rem;
  }

  html>section.first main ul li:nth-child(5) span,
  body>section.first main ul li:nth-child(5) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.44rem;
    height: 1.43rem;
    // background: url(../images/egg_5.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main ul li:nth-child(6),
  body>section.first main ul li:nth-child(6) {
    top: 1.67rem;
    left: 3.02rem;
  }

  html>section.first main ul li:nth-child(6) span,
  body>section.first main ul li:nth-child(6) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.62rem;
    height: 1.48rem;
    // background: url(../images/egg_6.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main ul li:nth-child(7),
  body>section.first main ul li:nth-child(7) {
    top: 2.76rem;
    left: 1.23rem;
  }

  html>section.first main ul li:nth-child(7) span,
  body>section.first main ul li:nth-child(7) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.61rem;
    height: 1.49rem;
    // background: url(../images/egg_7.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main ul li:nth-child(8),
  body>section.first main ul li:nth-child(8) {
    top: 2.6rem;
    left: 3.47rem;
  }

  html>section.first main ul li:nth-child(8) span,
  body>section.first main ul li:nth-child(8) span {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1.49rem;
    height: 1.61rem;
    // background: url(../images/egg_8.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main div:nth-child(2),
  body>section.first main div:nth-child(2) {
    position: absolute;
    width: 5.9rem;
    height: 6.79rem;
    // background: url(../images/machine.png) center no-repeat;
    background-size: cover;
    z-index: 10;
  }

  html>section.first main div:nth-child(3),
  body>section.first main div:nth-child(3) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .18rem;
    margin: auto;
    width: 1.67rem;
    height: 1.65rem;
    // background: url(../images/men.png) center no-repeat;
    background-size: cover;
    z-index: 3;
  }

  html>section.first main div:nth-child(4),
  body>section.first main div:nth-child(4) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .2rem;
    margin: auto;
    z-index: 5;
    opacity: 0;
  }

  html>section.first main div:nth-child(4).j1,
  body>section.first main div:nth-child(4).j1 {
    width: 1.34rem;
    height: 1.49rem;
    // background: url(../images/egg_4.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main div:nth-child(4).j2,
  body>section.first main div:nth-child(4).j2 {
    width: 1.44rem;
    height: 1.43rem;
    // background: url(../images/egg_1.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main div:nth-child(4).j3,
  body>section.first main div:nth-child(4).j3 {
    width: 1.39rem;
    height: 1.46rem;
    // background: url(../images/egg_3.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main div:nth-child(4).j4,
  body>section.first main div:nth-child(4).j4 {
    width: 1.61rem;
    height: 1.49rem;
    // background: url(../images/egg_7.png) center no-repeat;
    background-size: cover;
  }

  html>section.first main div:nth-child(4).goDown,
  body>section.first main div:nth-child(4).goDown {
    opacity: 1;
    animation: down 0.7s ease-out forwards;
    -webkit-animation: down 0.7s ease-out forwards;
  }

  html>section.first main div:nth-child(5),
  body>section.first main div:nth-child(5) {
    position: absolute;
    top: 3.315rem;
    left: -0.3rem;
    width: 6.47rem;
    height: .93rem;
    // background: url(../images/deng_1.png) center no-repeat;
    background-size: cover;
    z-index: 20;
  }

  html>section.first main div:nth-child(5).change,
  body>section.first main div:nth-child(5).change {
    // background: url(../images/deng_2.png) center no-repeat;
    background-size: cover;
  }

  html>section.first footer a,
  body>section.first footer a {
    display: block;
  }

  html>section.first footer a:nth-child(1),
  body>section.first footer a:nth-child(1) {
    margin: .25rem auto .79rem;
    width: 5.53rem;
    height: 1.12rem;
    // background: url(../images/btn_1.png) center no-repeat;
    background-size: cover;
  }

  html>section.first footer a:nth-child(1).look_getting,
  body>section.first footer a:nth-child(1).look_getting {
    // background: url(../images/btn_2.png) center no-repeat;
    background-size: cover;
  }

  html>section.first footer a:nth-child(2),
  body>section.first footer a:nth-child(2) {
    margin: 0 auto;
    width: 1.99rem;
    height: .28rem;
    // background: url(../images/rule.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_1,
  body>section.model_1 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.42rem;
    width: 6.83rem;
    z-index: 100;
  }

  html>section.model_1 div,
  body>section.model_1 div {
    width: 6.83rem;
    height: 6.29rem;
    // background: url(../images/tc_1.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_1 div h2,
  body>section.model_1 div h2 {
    font-weight: normal;
    font-size: .38rem;
    text-align: center;
    letter-spacing: .2em;
    line-height: .8rem;
    color: #ffffff;
  }

  html>section.model_1 div p,
  body>section.model_1 div p {
    margin-top: .8rem;
    font-size: .66rem;
    text-align: center;
    letter-spacing: .2em;
    color: #ff8009;
  }

  html>section.model_1 div span,
  body>section.model_1 div span {
    display: block;
    font-size: .3rem;
    line-height: .6rem;
    text-align: center;
    color: #ff8009;
  }

  html>section.model_1 a,
  body>section.model_1 a {
    display: block;
    margin: .13rem auto;
    width: 4.13rem;
    height: 1.01rem;
    // background: url(../images/btn_3.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_2,
  body>section.model_2 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.42rem;
    width: 5.81rem;
    z-index: 100;
  }

  html>section.model_2 div,
  body>section.model_2 div {
    box-sizing: border-box;
    padding-left: .1rem;
    width: 5.81rem;
    height: 6.29rem;
    // background: url(../images/tc_2.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_2 div h2,
  body>section.model_2 div h2 {
    font-weight: normal;
    font-size: .38rem;
    text-align: center;
    letter-spacing: .2em;
    line-height: .8rem;
    color: #ffffff;
  }

  html>section.model_2 div p,
  body>section.model_2 div p {
    margin-top: 1.5rem;
    font-size: .66rem;
    text-align: center;
    letter-spacing: .2em;
    color: #ff8009;
  }

  html>section.model_2 div span,
  body>section.model_2 div span {
    display: block;
    font-size: .3rem;
    line-height: 1rem;
    text-align: center;
    color: #ff8009;
  }

  html>section.model_2 a,
  body>section.model_2 a {
    display: block;
    margin: .13rem auto;
    width: 4.13rem;
    height: 1.01rem;
    // background: url(../images/btn_3.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_3,
  body>section.model_3 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.42rem;
    width: 5.81rem;
    z-index: 100;
  }

  html>section.model_3 div,
  body>section.model_3 div {
    box-sizing: border-box;
    padding-top: 1.8rem;
    width: 5.81rem;
    height: 6.29rem;
    // background: url(../images/tc_3.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_3 div p,
  body>section.model_3 div p {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.27rem;
    height: 3.04rem;
    font-size: .38rem;
    text-align: center;
    color: #d46c1f;
    // background: url(../images/tc_3_1.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_3 a,
  body>section.model_3 a {
    display: block;
    margin: -0.65rem auto;
    width: 1.2rem;
    height: 1.2rem;
    // background: url(../images/btn_4.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_4,
  body>section.model_4 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding-left: .05rem;
    margin: auto;
    top: 1.6rem;
    width: 6.83rem;
    z-index: 100;
  }

  html>section.model_4>div,
  body>section.model_4>div {
    box-sizing: border-box;
    padding-top: 1.17rem;
    width: 6.83rem;
    height: 8.54rem;
    // background: url(../images/tc_4.png) center no-repeat;
    background-size: cover;
  }

  html>section.model_4>div>div,
  body>section.model_4>div>div {
    overflow: hidden;
    margin-left: .85rem;
    width: 5.12rem;
    height: 6.48rem;
  }

  html>section.model_4>div>div div,
  body>section.model_4>div>div div {
    overflow: scroll;
    padding: 0 .1rem;
    height: 6.4rem;
  }

  html>section.model_4>div>div div p,
  body>section.model_4>div>div div p {
    font-size: .28rem;
    color: #d8681e;
  }

  html>section.model_4>div>div div p span,
  body>section.model_4>div>div div p span {
    font-weight: bold;
    font-size: .34rem;
  }

  html>section.model_4>div>div div p:nth-child(1),
  body>section.model_4>div>div div p:nth-child(1) {
    line-height: .82rem;
  }

  html>section.model_4>div>div div p:nth-child(4),
  body>section.model_4>div>div div p:nth-child(4) {
    line-height: .6rem;
  }

  html>section.model_4>div>div div p:nth-child(5),
  body>section.model_4>div>div div p:nth-child(5) {
    text-indent: 2em;
  }

  html>section.model_4>div>div div ul,
  body>section.model_4>div>div div ul {
    margin-top: -0.4rem;
    padding-left: 1.26rem;
  }

  html>section.model_4>div>div div ul li,
  body>section.model_4>div>div div ul li {
    font-size: .28rem;
    color: #d8681e;
  }

  html>section.model_4>div>div div ul li span,
  body>section.model_4>div>div div ul li span {
    margin-left: .2rem;
  }

  html>section.model_4 a,
  body>section.model_4 a {
    display: block;
    margin: 0 auto;
    width: 4.13rem;
    height: 1.01rem;
    // background: url(../images/btn_3.png) center no-repeat;
    background-size: cover;
  }

  html>section.mask,
  body>section.mask {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
  }

  .move_1 {
    animation: around1 1.5s linear infinite;
    -webkit-animation: around1 1.5s linear infinite;
  }

  .move_2 {
    animation: around2 1.5s linear infinite;
    -webkit-animation: around2 1.5s linear infinite;
  }

  .move_3 {
    animation: around3 1.5s linear infinite;
    -webkit-animation: around3 1.5s linear infinite;
  }

  .move_4 {
    animation: around4 1.5s linear infinite;
    -webkit-animation: around4 1.5s linear infinite;
  }

  .move_5 {
    animation: around5 1.5s linear infinite;
    -webkit-animation: around5 1.5s linear infinite;
  }

  .move_6 {
    animation: around6 1.5s linear infinite;
    -webkit-animation: around6 1.5s linear infinite;
  }

  .move_7 {
    animation: around7 1.5s linear infinite;
    -webkit-animation: around7 1.5s linear infinite;
  }

  .move_8 {
    animation: around8 1.5s linear infinite;
    -webkit-animation: around8 1.5s linear infinite;
  }

  @-webkit-keyframes zhuan {
    0% {
      -webkit-transform: rotate(0);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes zhuan {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes around1 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    20% {
      -webkit-transform: translate(-60px, -50px);
    }

    40% {
      -webkit-transform: translate(0px, -60px);
    }

    60% {
      -webkit-transform: translate(20px, -65px);
    }

    80% {
      -webkit-transform: translate(10px, -40px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around1 {
    0% {
      transform: translate(0px, 0px);
    }

    20% {
      transform: translate(-60px, -50px);
    }

    40% {
      transform: translate(0px, -60px);
    }

    60% {
      transform: translate(20px, -65px);
    }

    80% {
      transform: translate(10px, -40px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes around2 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    10% {
      -webkit-transform: translate(-30px, 20px);
    }

    30% {
      -webkit-transform: translate(-80px, 10px);
    }

    50% {
      -webkit-transform: translate(-50px, -60px);
    }

    80% {
      -webkit-transform: translate(-20px, -30px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around2 {
    0% {
      transform: translate(0px, 0px);
    }

    10% {
      transform: translate(-30px, 20px);
    }

    30% {
      transform: translate(-80px, 10px);
    }

    50% {
      transform: translate(-50px, -60px);
    }

    80% {
      transform: translate(-20px, -30px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes around3 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    25% {
      -webkit-transform: translate(10px, -40px);
    }

    50% {
      -webkit-transform: translate(50px, -60px);
    }

    80% {
      -webkit-transform: translate(60px, -20px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around3 {
    0% {
      transform: translate(0px, 0px);
    }

    25% {
      transform: translate(10px, -40px);
    }

    50% {
      transform: translate(50px, -60px);
    }

    80% {
      transform: translate(60px, -20px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes around4 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    12% {
      -webkit-transform: translate(30px, -40px);
    }

    30% {
      -webkit-transform: translate(60px, -80px);
    }

    60% {
      -webkit-transform: translate(80px, -20px);
    }

    80% {
      -webkit-transform: translate(30px, 10px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around4 {
    0% {
      transform: translate(0px, 0px);
    }

    12% {
      transform: translate(30px, -40px);
    }

    30% {
      transform: translate(60px, -80px);
    }

    60% {
      transform: translate(80px, -20px);
    }

    80% {
      transform: translate(30px, 10px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes around5 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    22% {
      -webkit-transform: translate(-50px, -20px);
    }

    46% {
      -webkit-transform: translate(-80px, -50px);
    }

    80% {
      -webkit-transform: translate(-30px, -30px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around5 {
    0% {
      transform: translate(0px, 0px);
    }

    22% {
      transform: translate(-50px, -20px);
    }

    46% {
      transform: translate(-80px, -50px);
    }

    80% {
      transform: translate(-30px, -30px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes around6 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    15% {
      -webkit-transform: translate(-50px, -50px);
    }

    30% {
      -webkit-transform: translate(-90px, -70px);
    }

    45% {
      -webkit-transform: translate(-80px, -60px);
    }

    60% {
      -webkit-transform: translate(-50px, -30px);
    }

    75% {
      -webkit-transform: translate(-80px, -20px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around6 {
    0% {
      transform: translate(0px, 0px);
    }

    15% {
      transform: translate(-50px, -50px);
    }

    30% {
      transform: translate(-90px, -70px);
    }

    45% {
      transform: translate(-80px, -60px);
    }

    60% {
      transform: translate(-50px, -30px);
    }

    75% {
      transform: translate(-80px, -20px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes around7 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    20% {
      -webkit-transform: translate(80px, -60px);
    }

    40% {
      -webkit-transform: translate(120px, -100px);
    }

    60% {
      -webkit-transform: translate(80px, -40px);
    }

    80% {
      -webkit-transform: translate(50px, -20px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around7 {
    0% {
      transform: translate(0px, 0px);
    }

    20% {
      transform: translate(80px, -60px);
    }

    40% {
      transform: translate(120px, -100px);
    }

    60% {
      transform: translate(80px, -40px);
    }

    80% {
      transform: translate(50px, -20px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes around8 {
    0% {
      -webkit-transform: translate(0px, 0px);
    }

    20% {
      -webkit-transform: translate(-40px, -60px);
    }

    40% {
      -webkit-transform: translate(-10px, -100px);
    }

    60% {
      -webkit-transform: translate(30px, -60px);
    }

    80% {
      -webkit-transform: translate(10px, -30px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
    }
  }

  @keyframes around8 {
    0% {
      transform: translate(0px, 0px);
    }

    20% {
      transform: translate(-40px, -60px);
    }

    40% {
      transform: translate(-10px, -100px);
    }

    60% {
      transform: translate(30px, -60px);
    }

    80% {
      transform: translate(10px, -30px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @-webkit-keyframes down {
    0% {
      -webkit-transform: translateY(-75px);
    }

    100% {
      -webkit-transform: translateY(0);
    }
  }

  @keyframes down {
    0% {
      transform: translateY(-75px);
    }

    100% {
      transform: translateY(0);
    }
  }
}
