.zk-table-list-show {
  .table_list_show_container {
    // background: #5C30E5;
    overflow: hidden;
    font-family: 'PingFang Sc';

    .show_list_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 30px;
      padding: 5px 10px;
      margin: 10px;
      background: #fff;
      border-radius: 3px;

      .show_list_item {
        display: flex;
        font-size: 13px;

      }

      .clickAcitve {
        color: #c81432;
      }
    }

    .show_list_content {
      margin: 10px;

      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;


      .content_list_item:nth-of-type(2n) {
        margin-left: 10px;
      }

      .content_list_item {
        width: 48%;
        background: #fff;
        margin-top: 13px;
        padding: 10px 0;
        border-radius: 5px;

        .showList_img {
          width: 80%;
          margin: 0 auto;

          img {
            width: 100%;
            height: 6rem;
          }
        }

        .list_item_content {
          .item_content_left {
            .item_content_name {
              display: block;
              margin-left: 10px;
              font-size: 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }

          .item_content_right {

            // display: flex;
            // justify-content: space-between;
            div.exchange {
              text-align: right;


              span {
                font-size: 9px;
                height: 16px;
                line-height: 16px;
                background: #c81432;
                color: #fff;
                text-align: center;
                padding: 0 6px;
                border-radius: 10px;
                margin-right: 10px;
                text-align: right;
              }
            }

            span.exchange_price {
              display: block;
            }

            span.exchange_price {
              font-size: 11px;
              color: #c81432;
              margin-left: 10px;
            }
          }


        }
      }
    }
  }
}
