.zk-icon-list-a {
    @import '../var.scss';
    $list: 8;
    .zk-icon-list {
        display: block;
        @for $list from 0 to 8 {
            .icon-list-#{$list} {
                width: 24%;
                height: $list-height;
                float: left;
                .image-#{$list} {
                    height: $list-height;
                }
                @if $list%2==0 {
                    view {
                        height: 40px;
                        p {
                            height: 20px;
                            &:nth-child(1) {
                                font-weight: $gl-h2-weight;
                            }
                            &:nth-child(2) {
                                font-size: 12px;
                                @if $list==0 {
                                    display: none;
                                }
                            }
                        }
                    }
                    .image-#{$list} {
                        height: 80px;
                    }
                }
                @if $list%2==1 {
                    view {
                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}