.zk-icon-list-d {
    @import '../var.scss';
    $list: 8;
    .zk-icon-list {
        @for $list from 0 to 8 {
            .icon-list-#{$list} {
                @if $list>5 {
                    display: none;
                }
                @if $list%2==0 {
                    background: $gl-text3;
                }
                width: 33%;
                height: $list_height;
                .image-#{$list} {
                    height: 60px;
                    width: 100px;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}