.zk-icon-list-j {
    @import '../var.scss';
    $list: 8;
    .zk-icon-list {
        @for $list from 0 to 8 {
            .icon-list-#{$list} {
                height: $list-height;
                position: relative;
                @if $list < 2 {
                    width: 50%;
                }
                @if $list>=2 and $list<=4 {
                    width: 33%;
                    height: 100px;
                }
                @if $list>4 {
                    display: none;
                }
                .image-#{$list} {
                    @if $list < 2 {
                        height: $list-height;
                    }
                    @if $list>=2 and $list <=4 {
                        height: 100px;
                    }
                }
                view {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 2;
                    p {
                        &:nth-child(1) {
                            &::after {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                border: 2px solid;
                                border-bottom: 2px solid transparent;
                                border-left: 2px solid transparent;
                                transform: rotate(45deg);
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}