@import "@/assets/style/theme.scss";
@import "@/assets/style/base.scss";
.zk-table-news {
    .table-news-from {
        width: 100%;
        height: 100vh;
        background-color: $gl-border5;
        .from-top_intro {
            padding: 15px;
            p {
                font-size: 14px;
                font-family: '黑体';
                color: $gl-text6;
            }
            .intro-span {
                color: $gl-text7;
            }
        }
        .from-top_conter {
            background-color: $gl-light;
            .input-list {
                border: 1px solid $gl-border5;
                height: 45px;
                line-height: 45px;
                display: flex;
                align-items: center;
                padding: 0px 20px;
                input {
                    flex: 1;
                }
                .right-iocn {
                    margin-top: 3px;
                    margin-left: 10px;
                }
            }
        }
    }
}