.zk-daily-shop-list {

  // background: #f2f2f2;
  .zk_daily_list_container {
    margin: 0 auto;

    .list_content_box {
      display: inline-block;
      height: 232upx;
      position: relative;

      &:nth-of-type(2n) {
        margin-left: 8px;
      }

      &:nth-child(n+3) {
        margin-top: 8px;
      }
    }

    .daily_list_content {
      height: 100%;
      padding: 0 8px;

      .daily_list_content_item {
        height: 100%;
        background: #fff;
        border-radius: 22upx;
        display: flex;
        margin-bottom: 8px;

        .list_content_item_L {
          margin-top: 24upx;
          margin-left: 20upx;
          font-family: "PingFang SC";

          .item_L_name {
            font-size: 30upx;
            color: #202020;
            font-weight: 700;
            line-height: 18px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .item_L_price {
            font-size: 22upx;
            color: #666;
            margin: 20upx 0 15upx 0;
          }

          .item_L_btn {
            background: linear-gradient(-20deg, #f09179, #f3a480);
            color: #fff;
            font-size: 20upx;
            line-height: 36upx;
            text-align: center;
            border-radius: 20upx;
            width: 128upx;
            position: absolute;
            bottom: 0;
            left: 20upx;
          }
        }

        .list_content_item_R {
          margin-top: 34upx;
          margin-right: 20upx;

          img {
            width: 134upx;
            height: 146upx;
            border-radius: 20upx;
          }
        }
      }
    }
  }
}
