.zk-new-scroll-list {
  background: #fff;

  .zk-new-scroll-list-container {
    margin: 0 auto 20upx auto;

    .banner_img {
      width: 100%;
      height: 300upx;
    }

    .must-fight-shop-list {
      margin: 0;
      background: #fff;
      margin: 0 auto 20upx auto;
      padding: 0upx 20upx;

      .fight-shop-content-scroll {
        padding: 5px 0px;

        .zk-image-scroll {
          .scroll-head {
            display: flex;
            align-items: center;
            padding: 10px 0px;

            .scroll-head_title {
              font-size: 12px;
              color: black;
              flex: 1;
            }

            .scroll-head_right {
              font-size: 10px;
              color: #909399;
            }
          }

          .scroll-view_H {
            white-space: nowrap;

            .scroll-view_boxs {
              display: inline-block;
              // width: 26%;
              border-radius: 5px;
              margin-right: 20upx;

              img {
                border-radius: 5px;
                border: 1px solid #f0f0f0;
              }

              .scroll_name {
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 30upx;
                color: #202020;
              }

              .scroll_price {
                display: flex;
                align-items: center;

                span {
                  display: block;

                  &:nth-of-type(1) {
                    color: #ED3927;
                    font-size: 26upx;
                    font-weight: bold;
                  }
                }
              }
            }

            .scroll-view_box:last-of-type {
              margin-right: 0px;
            }

            .uni-scroll-view::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }
}
