    .zk-merchant-list-a {
        .zk-merchant-list {
            margin: 8px;
            .container_box {
                display: flex;
                justify-content: space-between;
                box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
                padding: 10px;
                margin-top: 10px;
                .info_left {
                    .merchant_name {
                        display: flex;
                        span {
                            display: block;
                        }
                        span:nth-of-type(1) {
                            color: #c70f2c;
                            font-weight: 700;
                            font-size: 18px;
                        }
                        span:nth-of-type(2) {
                            color: #fff;
                            background: #c70f2c;
                            width: 45px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            border-radius: 8px;
                            margin-left: 5px;
                            margin-top: 8px;
                            font-size: 13px;
                        }
                    }
                    .text {
                        color: #999;
                        line-height: 30px;
                        font-size: 13px;
                    }
                }
                .info_right {
                    width: 47%;
                    image {
                        width: 100%;
                        height: 60px;
                    }
                    .btn_buy {
                        background: #c70f2c;
                        color: #fff;
                        width: 80px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        margin: 0 auto;
                        margin-top: 13px;
                        border-radius: 16px;
                        font-size: 13px;
                    }
                }
            }
        }
    }