.zk-index-day-update {
  background: #f2f2f2;

  .zk-index-day-updata-container {
    margin: 0 auto;
    height: 100%;
    // padding: 0 20upx;

    // position: relative;
    .must-fight-title {
      text-align: center;
      font-size: 36upx;
      height: 130upx;
      line-height: 130upx;
      color: #202020;
      font-weight: bold;
      margin-bottom: 14upx;
      display: flex;
      align-items: center;
      justify-items: center;
      width: 28%;
      margin: 0 auto;
      margin-top: 30upx;

      img {
        width: 40upx;
        height: 40upx;
        display: block;
        margin-left: 10upx;
      }
    }

    .index-day-updata-container-box {
      margin: 0 10px;
      border-radius: 20upx;
      background: #fff;
      padding: 28upx;
      display: flex;
      margin-bottom: 20upx;

      .updata-container-box-left {
        width: 207upx;
        height: 207upx;

        img {
          width: 207upx;
          height: 207upx;
          border-radius: 14upx;
        }
      }

      .updata-container-box-right {
        font-family: "PingFang SC";
        margin-left: 20upx;
        width: 70%;

        .updata-container-box-name {
          color: #202020;
          font-size: 34upx;
          line-height: 56upx;
          font-weight: 700;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        .updata-container-box-tag {
          color: #666;
          font-size: 26upx;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          line-height: 44upx;
        }

        .updata-container-box-price {
          display: flex;
          justify-content: space-between;
          margin-top: 56upx;

          span {
            display: block;

            &:nth-of-type(1) {
              color: #ED3927;
              font-size: 22upx;
              font-weight: bold;
            }

            &:nth-of-type(2) {
              background: linear-gradient(#ff4848, #ff7b64);
              color: #fff;
              font-size: 26upx;
              height: 44upx;
              line-height: 44upx;
              font-family: "PingFang SC";
              border-radius: 24upx;
              padding: 1upx 20upx;
              font-weight: bold;
            }
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}
