.zk-selected-shop-list {
  // background: #f2f2f2;
  padding: 0 8px;

  .selected-shop-list-container {
    margin: 0 auto 20upx auto;

    .shop-list_content {
      display: flex;
      margin-top: 10upx;
      flex-wrap: wrap;

      .list_item_S {
        height: 220upx;
        border-radius: 22upx;

        &:nth-of-type(2n) {
          margin-left: 8px;
        }

        &:nth-of-type(1) {
          background: linear-gradient(360deg, #ff1935, #ff836b);
        }

        &:nth-of-type(2) {
          background: linear-gradient(360deg, #9b34f1, #d349dc);
        }

        &:nth-of-type(3) {
          background: linear-gradient(360deg, #fd8153, #fcaf54);
        }

        &:nth-of-type(4) {
          background: linear-gradient(360deg, #5064f9, #508aff);
        }

        &:nth-child(n+3) {
          margin-top: 8px;
        }
      }

      .list_item_S_IN {
        background: #fff;
        width: 94%;
        height: 150upx;
        margin: 10upx auto;
        border-radius: 22upx;
        display: flex;
        justify-content: space-between;

        .list_item_S_IN_Name {
          margin: 10upx 10upx;
          margin-right: 20upx;

          span {
            display: block;

            &:nth-of-type(1) {
              width: 172upx;
              font-size: 26upx;
              color: #202020;
              font-family: "PingFang SC";
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }

          .must-fight-tag {
            text-align: center;
            border-radius: 20upx;
            width: 140upx;
            font-size: 20upx;
            line-height: 34upx;
            font-family: "PingFang SC";
            color: #fff;

            &:nth-of-type(1) {

              background: linear-gradient(#9b34f1, #d349dc);
            }

            &:nth-of-type(2) {
              background: linear-gradient(#fd8153, #fcaf54);
            }

            &:nth-of-type(3) {
              background: linear-gradient(#5064f9, #508aff);
            }
          }
        }

        img {
          width: 124upx;
          height: 124upx;
          border-radius: 20upx;
          margin: 10upx;
        }
      }

      .list_item_S_Text {
        color: #fff;
        font-size: 26upx;
        line-height: 46upx;
        font-family: "PingFang SC";
        padding: 0 14upx;
      }
    }
  }
}
