.zk-show-swiper {
  margin-bottom: 10px;

  .container_box {
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 15px 10px;
    margin-bottom: 0;

    .uni-swiper {}

    .swiper {
      display: flex;
      height: 8rem;

      .uni-swiper-dots-horizontal {}

      .uni-swiper-dot {
        display: inline-block;
        width: 10px;
        height: 3px !important;
        border-radius: 0;
        border-radius: 40%;
        margin-right: 0;
      }

      .item_img {
        display: flex;
        justify-content: space-around;

        .item_list {
          width: 30%;

          img {
            width: 4rem;
            height: 4rem;
            margin-top: 15px;
          }

          .item_name {
            font-size: 13px;
            color: #131313;
            overflow: hidden;

            text-overflow: ellipsis;

            display: -webkit-box;

            -webkit-box-orient: vertical;

            -webkit-line-clamp: 1;
          }
        }

        .item_title {
          width: 28%;
          margin-top: 42px;

          span {
            display: block;
          }

          span:nth-of-type(1) {
            font-size: 13px;
            font-weight: 600;
          }

          span:nth-of-type(2) {
            width: 34%;
            height: 2px;
            background: #e5e5e5;
            margin-top: 5px;
          }
        }
      }

      .uni-swiper-item {
        display: flex;
      }
    }
  }

  .stack {
    position: relative;
    margin: 0 auto;

    /*    box-shadow: 0rpx 0rpx 10rpx 0rpx rgba(4, 0, 0, .2);
    background: rgba(4, 0, 0, .1); */
  }

  .box_shadow1 {
    z-index: 1;
    width: 92%;
    height: 10px;
    margin: 0 auto;
    background: #DADADA;
    border-radius: 0 0 14px 14px;
    opacity: .2;
  }

  .box_shadow2 {
    width: 88%;
    height: 17px;
    margin: 0 auto;
    background: #E6E6E6;
    opacity: .3;
    margin-top: -10px;
    border-radius: 0 0 16px 16px;
  }
}
