.zk-store-user-center {
  width: 100%;
  height: 420upx;
  position: relative;
  background: url(https://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-07-17/5d2ed8bab275c30c98293895.png) no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  overflow: hidden;

  .product-user_top {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    line-height: 46px;

    .user_top-left {
      flex: 1;

      .left-icon {
        display: inline-block;
      }
    }
  }

  .user-active {
    padding: 0 15px 0px 15px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 80upx;

    .user-active_portrait {
      width: 100upx;
      height: 100upx;
      border-radius: 100upx;
      border: 1px solid #f0f0f0;
      overflow: hidden;
      background: #fff;

      .portrait-image {
        display: block;
        width: 64%;
        height: 80%;
        margin: 0 auto;
        margin-top: 18upx;
      }
    }

    .user-active_text {
      margin-left: 22upx;

      .user-active_username {
        font-size: 30upx;
        color: #ffffff;
        font-family: 'PingFang SC';
        font-weight: 600;
        line-height: 48upx;
      }

      .user-active_merchant {
        font-size: 26upx;
        color: #FFE7C8;
        font-family: 'PingFang SC';
        line-height: 50upx;
      }

      .text_tag {
        display: flex;
        margin-top: 10upx;

        .user_active_tag {
          background: #f43f00;
          color: #fff;
          font-size: 22upx;
          padding: 0 20upx;
          border-radius: 20upx;

          &:nth-of-type(2) {
            margin-left: 20upx;
          }
        }

      }
    }

  }

  .user-active-seting {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

    .user-seting {
      padding: 0 5px;

      a {
        text-decoration: none;
      }
    }
  }

  .user-ul {
    margin-top: 30upx;
    display: flex;
    align-items: center;

    .user-li {
      flex: 1;
      text-align: center;

      p {
        font-family: 'PingFang SC';
        color: #ffffff;
      }

      .p1 {
        font-weight: 500;
      }

      .p2 {
        font-weight: 600;
        font-size: 26upx;
      }
    }
  }

  .user-dimensional-code {
    width: 85vw;
    height: 90upx;
    position: absolute;
    bottom: -2upx;
    left: 50%;
    transform: translateX(-50%);
    background: url(https://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-07-17/5d2ede88b275c30c982943c7.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: #FFCF74;
    display: flex;
    align-items: center;

    .user_name {
      font-size: 26upx;

      &:nth-of-type(1) {
        margin-left: 66upx;
        margin-right: 10upx;
      }

      &:nth-of-type(2) {
        margin-left: 10upx;
      }
    }

    .updata_btn {
      color: #202020;
      background: #FFCF74;
      height: 40upx;
      line-height: 40upx;
      padding: 0 15upx;
      border-radius: 20upx;
      margin-left: 30upx;
      font-size: 24upx;
    }
  }
}
