.zk-merchant-intro {
  .merchant_intro_container {
    .intro_content {
      img {
        width: 100%;
      }
    }

    .top_banner {
      width: 100%;
      background-position: center center;
      background-size: 100% 100%;
      position: relative;
      background: #c81432;

      .banner_top_title {
        padding: 10px;
        display: flex;
        color: #fff;
        font-size: 17px;

        span {
          display: flex;
        }

        span {
          text-align: center;
          display: flex;
          justify-items: center;
          margin: 0 auto;
        }
      }

      .merchant_name {
        position: absolute;
        width: 22%;
        background: #fff;
        font-size: 13px;
        font-family: "PingFang Sc";
        border-radius: 20px;
        line-height: 24px;
        text-align: center;
        left: 50%;
        margin-left: -11%;
        bottom: 16px;
      }
    }

    .merchant_intro {
      padding: 15px;
      box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);

      span {
        display: block;
      }

      span:nth-of-type(1) {
        background: #FD9999;
        color: #fff;
        font-size: 13px;
        width: 20%;
        border-radius: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 10px;
      }

      span:nth-of-type(2) {
        font-size: 13px;
        color: #000;
        font-family: "微软雅黑";
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }

    .merchant_news {
      display: flex;
      padding: 15px;
      justify-content: space-around;
      box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
      margin-top: 8px;

      .news_sculpture {
        display: flex;
        width: 80%;

        img {
          width: 100%;
          height: 3rem;
          border-radius: 50%;
        }
      }

      .merchant_type {
        margin-left: 10px;

        .news_name {
          font-size: 14px;
          color: #000;
          font-weight: "微软雅黑";
          font-weight: 600;
        }

        .news_type {
          display: flex;
          margin-top: 10px;

          span:nth-of-type(1) {
            height: 16px;
            line-height: 16px;
            font-size: 11px;
            background: #FF4948;
            border-radius: 10px;
            color: #fff;
            padding: 0 8px;
            text-align: center;
          }

          span:nth-of-type(2) {
            background: #6375FF;
            border-radius: 10px;
            color: #fff;
            padding: 0 8px;
            height: 16px;
            line-height: 16px;
            font-size: 11px;
            margin-left: 5px;
            text-align: center;
          }
        }
      }

      .news_btn {
        border: 1px solid #777D86;
        font-size: 12px;
        text-decoration: underline;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 15px;
        padding: 0px 14px;
        display: flex;
        align-items: center;
        margin-top: 15px;
        color: #777D86;
      }
    }

    .merchant_content {
      margin-top: 8px;

      .content_text {
        padding: 0px 15px;
        font-size: 13px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 10px;
        color: #000;
        font-family: "微软雅黑";
      }

      .banner_img {
        padding: 16px;
        width: 100%;
        // height: 9rem;
      }
    }
  }
}
